In [1]:
import pandas as pd

In [7]:
def read_csv_from_dropbox(dropbox_link):
    path = dropbox_link[0:-1] + "1"
    df = pd.read_csv(path)
    return df

In [8]:
import numpy as np

df1 = read_csv_from_dropbox("https://www.dropbox.com/s/3efamu1exn2pnx5/2015_data.csv?dl=0")
df2 = read_csv_from_dropbox("https://www.dropbox.com/s/jdt0shvcz88ryt4/2014_data.csv?dl=0")
df3 = read_csv_from_dropbox("https://www.dropbox.com/s/1jo0kmtgnbymopt/2013_data.csv?dl=0")

In [9]:
df1

,resident_status,education_1989_revision,education_2003_revision,education_reporting_flag,month_of_death,sex,detail_age_type,detail_age,age_substitution_flag,age_recode_52,...,record_condition_18,record_condition_19,record_condition_20,race,bridged_race_flag,race_imputation_flag,race_recode_3,race_recode_5,hispanic_origin,hispanic_originrace_recode
0,1,NaN,3.0,1,1,M,1,84,NaN,42,...,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6
1,1,NaN,6.0,1,1,M,1,70,NaN,40,...,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6
2,1,NaN,3.0,1,1,F,1,91,NaN,44,...,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6
3,1,NaN,3.0,1,1,F,1,40,NaN,34,...,NaN,NaN,NaN,3,NaN,NaN,2,3,100,8
4,1,NaN,5.0,1,1,F,1,89,NaN,43,...,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2718193,1,NaN,1.0,1,5,M,6,5,NaN,1,...,NaN,NaN,NaN,2,NaN,1.0,3,2,998,9
2718194,1,NaN,9.0,1,12,F,1,48,NaN,35,...,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6
2718195,4,NaN,9.0,1,12,M,1,33,NaN,32,...,NaN,NaN,NaN,1,NaN,1.0,1,1,299,5
2718196,4,NaN,9.0,1,7,M,1,83,NaN,42,...,NaN,NaN,NaN,2,NaN,NaN,3,2,100,7
2718197,1,NaN,9.0,1,12,M,1,81,NaN,42,...,NaN,NaN,NaN,2,NaN,NaN,3,2,998,9

In [10]:
df = pd.concat([df1, df2,df3], axis=0, join='inner')

In [11]:
df['current_data_year']

0          2015
1          2015
2          2015
3          2015
4          2015
           ...
2601447    2013
2601448    2013
2601449    2013
2601450    2013
2601451    2013
Name: current_data_year, Length: 7950821, dtype: int64

In [12]:
df.head

<bound method NDFrame.head of          resident_status  education_1989_revision  education_2003_revision  \
0                      1                      NaN                      3.0
1                      1                      NaN                      6.0
2                      1                      NaN                      3.0
3                      1                      NaN                      3.0
4                      1                      NaN                      5.0
...                  ...                      ...                      ...
2601447                2                      NaN                      9.0
2601448                1                      NaN                      9.0
2601449                1                      NaN                      9.0
2601450                1                      NaN                      9.0
2601451                1                      NaN                      9.0

         education_reporting_flag  month_of_death sex  detail_age_type  \
0                               1               1   M                1
1                               1               1   M                1
2                               1               1   F                1
3                               1               1   F                1
4                               1               1   F                1
...                           ...             ...  ..              ...
2601447                         1              12   M                1
2601448                         1               4   M                1
2601449                         1              11   F                1
2601450                         1              12   M                1
2601451                         1              11   M                1

         detail_age  age_substitution_flag  age_recode_52  ...  \
0                84                    NaN             42  ...
1                70                    NaN             40  ...
2                91                    NaN             44  ...
3                40                    NaN             34  ...
4                89                    NaN             43  ...
...             ...                    ...            ...  ...
2601447          32                    NaN             32  ...
2601448          84                    NaN             42  ...
2601449          52                    NaN             36  ...
2601450          80                    NaN             42  ...
2601451          71                    NaN             40  ...

         record_condition_18  record_condition_19  record_condition_20  race  \
0                        NaN                  NaN                  NaN     1
1                        NaN                  NaN                  NaN     1
2                        NaN                  NaN                  NaN     1
3                        NaN                  NaN                  NaN     3
4                        NaN                  NaN                  NaN     1
...                      ...                  ...                  ...   ...
2601447                  NaN                  NaN                  NaN     2
2601448                  NaN                  NaN                  NaN     2
2601449                  NaN                  NaN                  NaN     2
2601450                  NaN                  NaN                  NaN     2
2601451                  NaN                  NaN                  NaN     1

        bridged_race_flag  race_imputation_flag  race_recode_3 race_recode_5  \
0                     NaN                   NaN              1             1
1                     NaN                   NaN              1             1
2                     NaN                   NaN              1             1
3                     NaN                   NaN              2             3
4                     NaN                   NaN              1             1
...                   ...                   ...            ...           ...
2601447               NaN                   1.0              3             2
2601448               NaN                   NaN              3             2
2601449               NaN                   NaN              3             2
2601450               NaN                   1.0              3             2
2601451               NaN                   1.0              1             1

         hispanic_origin hispanic_originrace_recode
0                    100                          6
1                    100                          6
2                    100                          6
3                    100                          8
4                    100                          6
...                  ...                        ...
2601447              998                          9
2601448              100                          7
2601449              100                          7
2601450              998                          9
2601451              299                          5

[7950821 rows x 77 columns]>

In [13]:
display(list(df.columns.values))

['resident_status',
 'education_1989_revision',
 'education_2003_revision',
 'education_reporting_flag',
 'month_of_death',
 'sex',
 'detail_age_type',
 'detail_age',
 'age_substitution_flag',
 'age_recode_52',
 'age_recode_27',
 'age_recode_12',
 'infant_age_recode_22',
 'place_of_death_and_decedents_status',
 'marital_status',
 'day_of_week_of_death',
 'current_data_year',
 'injury_at_work',
 'manner_of_death',
 'method_of_disposition',
 'autopsy',
 'activity_code',
 'place_of_injury_for_causes_w00_y34_except_y06_and_y07_',
 'icd_code_10th_revision',
 '358_cause_recode',
 '113_cause_recode',
 '130_infant_cause_recode',
 '39_cause_recode',
 'number_of_entity_axis_conditions',
 'entity_condition_1',
 'entity_condition_2',
 'entity_condition_3',
 'entity_condition_4',
 'entity_condition_5',
 'entity_condition_6',
 'entity_condition_7',
 'entity_condition_8',
 'entity_condition_9',
 'entity_condition_10',
 'entity_condition_11',
 'entity_condition_12',
 'entity_condition_13',
 'entity_condition_14',
 'entity_condition_15',
 'entity_condition_16',
 'entity_condition_17',
 'entity_condition_18',
 'entity_condition_19',
 'entity_condition_20',
 'number_of_record_axis_conditions',
 'record_condition_1',
 'record_condition_2',
 'record_condition_3',
 'record_condition_4',
 'record_condition_5',
 'record_condition_6',
 'record_condition_7',
 'record_condition_8',
 'record_condition_9',
 'record_condition_10',
 'record_condition_11',
 'record_condition_12',
 'record_condition_13',
 'record_condition_14',
 'record_condition_15',
 'record_condition_16',
 'record_condition_17',
 'record_condition_18',
 'record_condition_19',
 'record_condition_20',
 'race',
 'bridged_race_flag',
 'race_imputation_flag',
 'race_recode_3',
 'race_recode_5',
 'hispanic_origin',
 'hispanic_originrace_recode']

In [14]:
# Drop all males 

df_cleaned = df.loc[df["sex"] != "M"]
# Nancy to filter/drop rows with irrelevant ICD codes.  We just want O00-O99 at the moment

In [15]:
df_cleaned

,resident_status,education_1989_revision,education_2003_revision,education_reporting_flag,month_of_death,sex,detail_age_type,detail_age,age_substitution_flag,age_recode_52,...,record_condition_18,record_condition_19,record_condition_20,race,bridged_race_flag,race_imputation_flag,race_recode_3,race_recode_5,hispanic_origin,hispanic_originrace_recode
2,1,NaN,3.0,1,1,F,1,91,NaN,44,...,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6
3,1,NaN,3.0,1,1,F,1,40,NaN,34,...,NaN,NaN,NaN,3,NaN,NaN,2,3,100,8
4,1,NaN,5.0,1,1,F,1,89,NaN,43,...,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6
8,1,NaN,3.0,1,1,F,1,89,NaN,43,...,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6
9,1,NaN,9.0,1,1,F,1,93,NaN,44,...,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2601438,3,NaN,1.0,1,12,F,5,1,NaN,2,...,NaN,NaN,NaN,2,NaN,NaN,3,2,100,7
2601442,1,NaN,4.0,1,11,F,1,89,NaN,43,...,NaN,NaN,NaN,1,NaN,NaN,1,1,260,2
2601444,1,NaN,3.0,1,12,F,1,96,NaN,45,...,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6
2601446,1,NaN,9.0,1,11,F,1,69,NaN,39,...,NaN,NaN,NaN,2,NaN,NaN,3,2,100,7
2601449,1,NaN,9.0,1,11,F,1,52,NaN,36,...,NaN,NaN,NaN,2,NaN,NaN,3,2,100,7

In [16]:
# make sure all records with icd code O00-O99 is female before dropping sex column

In [17]:
#drop columns
df_cleaned = df.drop(['education_1989_revision','education_reporting_flag','detail_age_type',
                      'age_substitution_flag','age_recode_52','age_recode_27','age_recode_12',
                      'infant_age_recode_22','injury_at_work','method_of_disposition','entity_condition_6',
                      'entity_condition_7','entity_condition_8','entity_condition_9','entity_condition_10',
                      'entity_condition_11','entity_condition_12','entity_condition_13','entity_condition_14',
                      'entity_condition_15','entity_condition_16','entity_condition_17','entity_condition_18',
                      'entity_condition_19','entity_condition_20','record_condition_6','record_condition_7',
                      'record_condition_8','record_condition_9','record_condition_10','record_condition_11',
                      'record_condition_12','record_condition_13','record_condition_14','record_condition_15',
                      'record_condition_16','record_condition_17','record_condition_18','record_condition_19',
                      'record_condition_20','bridged_race_flag','race_imputation_flag', 'activity_code', 'sex'], axis = 1)

In [26]:
df_cleaned

,resident_status,education_2003_revision,month_of_death,detail_age,place_of_death_and_decedents_status,marital_status,day_of_week_of_death,current_data_year,manner_of_death,autopsy,...,record_condition_1,record_condition_2,record_condition_3,record_condition_4,record_condition_5,race,race_recode_3,race_recode_5,hispanic_origin,hispanic_originrace_recode
0,1,3,1,84,1,M,1,2015,7,N,...,I500,L031,Not Available,Not Available,Not Available,1,1,1,100,6
1,1,6,1,70,1,M,2,2015,7,N,...,C349,F179,I251,I469,J440,1,1,1,100,6
2,1,3,1,91,4,W,6,2015,7,N,...,G309,Not Available,Not Available,Not Available,Not Available,1,1,1,100,6
3,1,3,1,40,4,S,5,2015,3,Y,...,X91,S223,S299,T149,T71,3,2,3,100,8
4,1,5,1,89,6,W,5,2015,7,N,...,I250,S720,X590,Not Available,Not Available,1,1,1,100,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2601447,2,9,12,32,1,U,1,2013,7,Y,...,K703,N288,Not Available,Not Available,Not Available,2,3,2,998,9
2601448,1,9,4,84,4,U,5,2013,7,N,...,C349,Not Available,Not Available,Not Available,Not Available,2,3,2,100,7
2601449,1,9,11,52,4,U,4,2013,7,N,...,B24,Not Available,Not Available,Not Available,Not Available,2,3,2,100,7
2601450,1,9,12,80,6,U,6,2013,7,N,...,I250,E785,F209,I119,J449,2,3,2,998,9
2601451,1,9,11,71,6,U,5,2013,7,N,...,F03,G819,I639,Not Available,Not Available,1,1,1,299,5

In [18]:
print(df_cleaned.isnull().sum() / len(df))

resident_status                                           0.000000
education_2003_revision                                   0.089040
month_of_death                                            0.000000
detail_age                                                0.000000
place_of_death_and_decedents_status                       0.000000
marital_status                                            0.000000
day_of_week_of_death                                      0.000000
current_data_year                                         0.000000
manner_of_death                                           0.148728
autopsy                                                   0.000000
place_of_injury_for_causes_w00_y34_except_y06_and_y07_    0.925734
icd_code_10th_revision                                    0.000000
358_cause_recode                                          0.000000
113_cause_recode                                          0.000000
130_infant_cause_recode                                   0.991157
39_cause_recode                                           0.000000
number_of_entity_axis_conditions                          0.000000
entity_condition_1                                        0.000000
entity_condition_2                                        0.223169
entity_condition_3                                        0.452051
entity_condition_4                                        0.662832
entity_condition_5                                        0.808493
number_of_record_axis_conditions                          0.000000
record_condition_1                                        0.000000
record_condition_2                                        0.237231
record_condition_3                                        0.482966
record_condition_4                                        0.691479
record_condition_5                                        0.832976
race                                                      0.000000
race_recode_3                                             0.000000
race_recode_5                                             0.000000
hispanic_origin                                           0.000000
hispanic_originrace_recode                                0.000000
dtype: float64

In [ ]:
# Nancy to fill empty values with and visualize the data to make sure code code didn't break the data).
# Missing values can be filled with 'na' => .fillna()

In [27]:
#Fill empty values with Not Anailable and visualize the data to make sure code code didn't break the data
df_cleaned = df_cleaned.fillna('Not Available')

In [28]:
df_cleaned

,resident_status,education_2003_revision,month_of_death,detail_age,place_of_death_and_decedents_status,marital_status,day_of_week_of_death,current_data_year,manner_of_death,autopsy,...,record_condition_1,record_condition_2,record_condition_3,record_condition_4,record_condition_5,race,race_recode_3,race_recode_5,hispanic_origin,hispanic_originrace_recode
0,1,3,1,84,1,M,1,2015,7,N,...,I500,L031,Not Available,Not Available,Not Available,1,1,1,100,6
1,1,6,1,70,1,M,2,2015,7,N,...,C349,F179,I251,I469,J440,1,1,1,100,6
2,1,3,1,91,4,W,6,2015,7,N,...,G309,Not Available,Not Available,Not Available,Not Available,1,1,1,100,6
3,1,3,1,40,4,S,5,2015,3,Y,...,X91,S223,S299,T149,T71,3,2,3,100,8
4,1,5,1,89,6,W,5,2015,7,N,...,I250,S720,X590,Not Available,Not Available,1,1,1,100,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2601447,2,9,12,32,1,U,1,2013,7,Y,...,K703,N288,Not Available,Not Available,Not Available,2,3,2,998,9
2601448,1,9,4,84,4,U,5,2013,7,N,...,C349,Not Available,Not Available,Not Available,Not Available,2,3,2,100,7
2601449,1,9,11,52,4,U,4,2013,7,N,...,B24,Not Available,Not Available,Not Available,Not Available,2,3,2,100,7
2601450,1,9,12,80,6,U,6,2013,7,N,...,I250,E785,F209,I119,J449,2,3,2,998,9
2601451,1,9,11,71,6,U,5,2013,7,N,...,F03,G819,I639,Not Available,Not Available,1,1,1,299,5

In [47]:
#ICD codes not well defined. We just want O00-O99 at the moment
df_cleaned['icd_code_10th_revision']

0          I500
1          C349
2          G309
3           X91
4          I250
           ...
2601447    K703
2601448    C349
2601449     B24
2601450    I250
2601451     F03
Name: icd_code_10th_revision, Length: 7950821, dtype: object

In [ ]:
# create replacement dictionaries to fill in values from years 2013 to 2015
# change the type of column values. => .astype()

# natasha to do from resident_status to marital_status (skip sex field)
# mariel to do from day_of_week_of_death to icd_code_10th_revision
# razan to do from 358_cause_recode to entity_condition_2
# valentina to do from entity_condition_3 to record_condition_3
# andreza to do from record_condition_4 to hispanic_originrace_recode

In [49]:
df_cleaned.dtypes

resident_status                                            int64
education_2003_revision                                   object
month_of_death                                             int64
detail_age                                                 int64
place_of_death_and_decedents_status                        int64
marital_status                                            object
day_of_week_of_death                                       int64
current_data_year                                          int64
manner_of_death                                           object
autopsy                                                   object
place_of_injury_for_causes_w00_y34_except_y06_and_y07_    object
icd_code_10th_revision                                    object
358_cause_recode                                           int64
113_cause_recode                                           int64
130_infant_cause_recode                                   object
39_cause_recode                                            int64
number_of_entity_axis_conditions                           int64
entity_condition_1                                        object
entity_condition_2                                        object
entity_condition_3                                        object
entity_condition_4                                        object
entity_condition_5                                        object
number_of_record_axis_conditions                           int64
record_condition_1                                        object
record_condition_2                                        object
record_condition_3                                        object
record_condition_4                                        object
record_condition_5                                        object
race                                                       int64
race_recode_3                                              int64
race_recode_5                                              int64
hispanic_origin                                            int64
hispanic_originrace_recode                                 int64
dtype: object

In [50]:
# record_condition_4 and record_condition_5 not present

race_dict = {
    18: "Asian Indian",
    28: "Korean",
    38: "Samoan",
    48: "Vietnamese",
    58: "Guamanian",
    68: "Other Asian or Pacific Islander in areas reporting codes 18-58",
    78: "Combined other Asian or Pacific Islander, includes codes 18-68",
    1: "White",
    2: "Black",
    3: "American Indian (includes Aleuts and Eskimos)",
    4: "Chinese",
    5: "Japanese",
    6: "Hawaiian (includes Part-Hawaiian)",
    7: "Filipino",
    0: "Other races",
    8: "Other Asian or Pacific Islander"
}
    
race_recode_3_dict = {
    1: "White",
    2: "Races other than White or Black",
    3: "Black"
}
    
race_recode_5_dict = {
    0: "Other (Puerto Rico only)",
    1: "White",
    2: "Black",
    3: "American Indian",
    4: "Asian or Pacific Islander"
}
        
hispanic_originrace_recode_dict = {
    1: "Mexican",
    2: "Puerto Rican",
    3: "Cuban",
    4: "Central or South American",
    5: "Other or unknown Hispanic",
    6: "Non - Hispanic white",
    7: "Non - Hispanic black",
    8: "Non - Hispanic other races",
    9: "Hispanic origin unknown"
}

hispanic_origin_dict = {
    "220": "Central and South American",
    "100-199": "Non – Hispanic",
    "200-209": "Spaniard",
    "210-219": "Mexican",
    "260-269": "Puerto Rican",
    "270-274": "Cuban",
    "275-279": "Dominican",
    "221-230": "Central American",
    "231-249": "South American",
    "250-259": "Latin American",
    "280-299": "Other Hispanic",
    "996-999": "Unknown"
}

def get_hispanic_origin(value):
    if value == 220:
        return "Central and South American"
    elif value in range(100,200):
        return "Non – Hispanic"
    elif value in range(200,210):
        return "Spaniard"
    elif value in range(210,220):
        return "Mexican"
    elif value in range(260,270):
        return "Puerto Rican"
    elif value in range(270,275):
        return "Cuban"
    elif value in range(275,280):
        return "Dominican"
    elif value in range(221,231):
        return "Central American"
    elif value in range(231,250):
        return "South American"
    elif value in range(250,260):
        return "Latin American"
    elif value in range(280,300):
        return "Other Hispanic"
    elif value in range(996,1000):
        return "Unknown"

In [51]:
df_cleaned["race"] = df_cleaned["race"].replace(race_dict).astype('category')

In [52]:
df_cleaned["race_recode_3"] = df_cleaned["race_recode_3"].replace(race_recode_3_dict).astype('category')

In [53]:
df_cleaned["race_recode_5"] = df_cleaned["race_recode_5"].replace(race_recode_5_dict).astype('category')

In [54]:
df_cleaned["hispanic_originrace_recode"] = df_cleaned["hispanic_originrace_recode"].replace(hispanic_originrace_recode_dict).astype('category')

In [55]:
df_cleaned.shape

(7950821, 33)

In [56]:
df_cleaned["hispanic_origin"] = df_cleaned.apply(lambda col: get_hispanic_origin(col['hispanic_origin']), axis=1)

In [57]:
df_cleaned["hispanic_origin"] = df_cleaned["hispanic_origin"].astype('category')

In [58]:
df_cleaned.head()

,resident_status,education_2003_revision,month_of_death,detail_age,place_of_death_and_decedents_status,marital_status,day_of_week_of_death,current_data_year,manner_of_death,autopsy,...,record_condition_1,record_condition_2,record_condition_3,record_condition_4,record_condition_5,race,race_recode_3,race_recode_5,hispanic_origin,hispanic_originrace_recode
0,1,3,1,84,1,M,1,2015,7,N,...,I500,L031,Not Available,Not Available,Not Available,White,White,White,Non – Hispanic,Non - Hispanic white
1,1,6,1,70,1,M,2,2015,7,N,...,C349,F179,I251,I469,J440,White,White,White,Non – Hispanic,Non - Hispanic white
2,1,3,1,91,4,W,6,2015,7,N,...,G309,Not Available,Not Available,Not Available,Not Available,White,White,White,Non – Hispanic,Non - Hispanic white
3,1,3,1,40,4,S,5,2015,3,Y,...,X91,S223,S299,T149,T71,American Indian (includes Aleuts and Eskimos),Races other than White or Black,American Indian,Non – Hispanic,Non - Hispanic other races
4,1,5,1,89,6,W,5,2015,7,N,...,I250,S720,X590,Not Available,Not Available,White,White,White,Non – Hispanic,Non - Hispanic white

In [59]:
df_cleaned.tail()

,resident_status,education_2003_revision,month_of_death,detail_age,place_of_death_and_decedents_status,marital_status,day_of_week_of_death,current_data_year,manner_of_death,autopsy,...,record_condition_1,record_condition_2,record_condition_3,record_condition_4,record_condition_5,race,race_recode_3,race_recode_5,hispanic_origin,hispanic_originrace_recode
2601447,2,9,12,32,1,U,1,2013,7,Y,...,K703,N288,Not Available,Not Available,Not Available,Black,Black,Black,Unknown,Hispanic origin unknown
2601448,1,9,4,84,4,U,5,2013,7,N,...,C349,Not Available,Not Available,Not Available,Not Available,Black,Black,Black,Non – Hispanic,Non - Hispanic black
2601449,1,9,11,52,4,U,4,2013,7,N,...,B24,Not Available,Not Available,Not Available,Not Available,Black,Black,Black,Non – Hispanic,Non - Hispanic black
2601450,1,9,12,80,6,U,6,2013,7,N,...,I250,E785,F209,I119,J449,Black,Black,Black,Unknown,Hispanic origin unknown
2601451,1,9,11,71,6,U,5,2013,7,N,...,F03,G819,I639,Not Available,Not Available,White,White,White,Other Hispanic,Other or unknown Hispanic

In [60]:
# Grace
df_cleaned = df_cleaned.rename(columns={'resident_status': 'resident_status', 
                        'education_2003_revision': 'level_of_education',
                         'month_of_death': 'month_of_death' ,
                         'detail_age': 'age',
 'place_of_death_and_decedents_status': 'place_of_death_patient_status',
 'marital_status' : 'marital_status',
 'day_of_week_of_death': 'day_of_week_of_death',
 'current_data_year': 'year_data_collected',
 'manner_of_death': 'manner_of_death',
 'autopsy': 'was_autopsy_done',
 'place_of_injury_for_causes_w00_y34_except_y06_and_y07_': 'place_of_injury_for_icd_w00_y34_except_y06_and_y07_',
 'icd_code_10th_revision':'icd_code_10th_revision',
 '358_cause_recode': '358_causes_of_death',
 '113_cause_recode': '113_causes_of_death',
 '130_infant_cause_recode': '130_causes_of_infant_death',
 '39_cause_recode': '39_cause_recode',
 'number_of_entity_axis_conditions': 'number_of_entity_axis_conditions',
 'entity_condition_1': 'entity_condition_1',
 'entity_condition_2': 'entity_condition_2',
 'entity_condition_3': 'entity_condition_3',
 'entity_condition_4': 'entity_condition_4',
 'entity_condition_5': 'entity_condition_5',
 'number_of_record_axis_conditions': 'number_of_record_axis_conditions',
 'record_condition_1': 'record_condition_1',
 'record_condition_2': 'record_condition_2',
 'record_condition_3': 'record_condition_3',
 'record_condition_4': 'record_condition_4',
 'record_condition_5': 'record_condition_5',
 'race': 'race',
 'race_recode_3': 'race_recode_3',
 'race_recode_5': 'race_recode_5',
 'hispanic_origin': 'hispanic_origin',
 'hispanic_originrace_recode': 'hispanic_originrace_recode'})

In [61]:
df_cleaned.dtypes

resident_status                                           int64
level_of_education                                       object
month_of_death                                            int64
age                                                       int64
place_of_death_patient_status                             int64
marital_status                                           object
day_of_week_of_death                                      int64
year_data_collected                                       int64
manner_of_death                                          object
was_autopsy_done                                         object
place_of_injury_for_icd_w00_y34_except_y06_and_y07_      object
icd_code_10th_revision                                   object
358_causes_of_death                                       int64
113_causes_of_death                                       int64
130_causes_of_infant_death                               object
39_cause_recode                                           int64
number_of_entity_axis_conditions                          int64
entity_condition_1                                       object
entity_condition_2                                       object
entity_condition_3                                       object
entity_condition_4                                       object
entity_condition_5                                       object
number_of_record_axis_conditions                          int64
record_condition_1                                       object
record_condition_2                                       object
record_condition_3                                       object
record_condition_4                                       object
record_condition_5                                       object
race                                                   category
race_recode_3                                          category
race_recode_5                                          category
hispanic_origin                                        category
hispanic_originrace_recode                             category
dtype: object

In [ ]:
display(list(df_cleaned.columns.values))