In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option("max_columns", 80)

In [3]:
def remove_irrelevant_records(df):
    df = df.loc[df["sex"] != "M"]
    # filter records with the cause recode 'Pregnancy, childbirth and the puerperium'
    df = df[(df['358_cause_recode'] == 339) |
            (df['113_cause_recode'] == 105) |
            (df['39_cause_recode'] == 32)
           ]
    return df

In [4]:
df_2015 = pd.read_csv('data/raw_data/cdc/2015_data.csv')
df_2015 = remove_irrelevant_records(df_2015)

df_2014 = pd.read_csv('data/raw_data/cdc/2014_data.csv')
df_2014 = remove_irrelevant_records(df_2014)

df_2013 = pd.read_csv('data/raw_data/cdc/2013_data.csv')
df_2013 = remove_irrelevant_records(df_2013)

df_2012 = pd.read_csv('data/raw_data/cdc/2012_data.csv')
df_2012 = remove_irrelevant_records(df_2012)

df_2011 = pd.read_csv('data/raw_data/cdc/2011_data.csv')
df_2011 = remove_irrelevant_records(df_2011)

df_2010 = pd.read_csv('data/raw_data/cdc/2010_data.csv')
df_2010 = remove_irrelevant_records(df_2010)

df_2009 = pd.read_csv('data/raw_data/cdc/2009_data.csv')
df_2009 = remove_irrelevant_records(df_2009)

df_2008 = pd.read_csv('data/raw_data/cdc/2008_data.csv')
df_2008 = remove_irrelevant_records(df_2008)

df_2007 = pd.read_csv('data/raw_data/cdc/2007_data.csv')
df_2007 = remove_irrelevant_records(df_2007)

df_2006 = pd.read_csv('data/raw_data/cdc/2006_data.csv')
df_2006 = remove_irrelevant_records(df_2006)

df_2005 = pd.read_csv('data/raw_data/cdc/2005_data.csv')
df_2005 = remove_irrelevant_records(df_2005)

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (40,41,42,43,61,62,63,64) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (39,40,41,42,43,60,61,62,63) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (39,40,41,42,43,60,61,62,63,64,65,66) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (40,41,42,43,44,45,46,47,60,61,62,63,64,65,66,67,68) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (40,41,42,43,44,45,46,47,60,61,62,63,64,65,66,67) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (39,40,41,42,43,44,45,46,59,60,61,62,63,64,65,66) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (39,40,41,42,43,44,45,46,59,60,61,62,63,64,65,66,67) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (39,40,41,42,43,44,45,46,47,59,60,61,62,63,64,65,66,67) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (39,40,41,42,43,44,45,46,47,59,60,61,62,63,64,65,66) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
# Column for icd code 10 has a different name in 2012
df_2012 = df_2012.rename(
    columns={'icd_code_10': 'icd_code_10th_revision'}
)

In [6]:
df_2015

,resident_status,education_1989_revision,education_2003_revision,education_reporting_flag,month_of_death,sex,detail_age_type,detail_age,age_substitution_flag,age_recode_52,age_recode_27,age_recode_12,infant_age_recode_22,place_of_death_and_decedents_status,marital_status,day_of_week_of_death,current_data_year,injury_at_work,manner_of_death,method_of_disposition,autopsy,activity_code,place_of_injury_for_causes_w00_y34_except_y06_and_y07_,icd_code_10th_revision,358_cause_recode,113_cause_recode,130_infant_cause_recode,39_cause_recode,number_of_entity_axis_conditions,entity_condition_1,entity_condition_2,entity_condition_3,entity_condition_4,entity_condition_5,entity_condition_6,entity_condition_7,entity_condition_8,entity_condition_9,entity_condition_10,entity_condition_11,entity_condition_12,entity_condition_13,entity_condition_14,entity_condition_15,entity_condition_16,entity_condition_17,entity_condition_18,entity_condition_19,entity_condition_20,number_of_record_axis_conditions,record_condition_1,record_condition_2,record_condition_3,record_condition_4,record_condition_5,record_condition_6,record_condition_7,record_condition_8,record_condition_9,record_condition_10,record_condition_11,record_condition_12,record_condition_13,record_condition_14,record_condition_15,record_condition_16,record_condition_17,record_condition_18,record_condition_19,record_condition_20,race,bridged_race_flag,race_imputation_flag,race_recode_3,race_recode_5,hispanic_origin,hispanic_originrace_recode
9966,1,12.0,NaN,0,2,F,1,37,NaN,33,13,6,NaN,1,M,3,2015,U,7.0,U,N,NaN,NaN,O268,352,107,NaN,32,4,11O268,21O995,31O268,41O903,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,O268,O903,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,3,2,100,7
10603,1,16.0,NaN,0,1,F,1,56,NaN,37,17,8,NaN,1,W,3,2015,U,7.0,U,N,NaN,NaN,O268,352,107,NaN,32,3,11O268,21O971,31O971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,O268,O971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,3,2,100,7
16009,1,14.0,NaN,0,3,F,1,31,NaN,32,12,5,NaN,7,M,3,2015,U,7.0,U,N,NaN,NaN,O881,350,107,NaN,32,2,11O993,21O881,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,O881,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6
20863,2,11.0,NaN,0,4,F,1,24,NaN,30,10,4,NaN,1,D,5,2015,U,NaN,U,U,NaN,NaN,O065,345,106,NaN,32,2,11O080,21O069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,O065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6
31488,3,16.0,NaN,0,7,F,1,28,NaN,31,11,5,NaN,1,S,7,2015,U,7.0,U,N,NaN,NaN,O998,355,107,NaN,32,2,11O994,21O998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,O998,O994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,3,2,100,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2711315,1,NaN,3.0,1,11,F,1,20,NaN,30,10,4,NaN,2,S,6,2015,U,7.0,C,Y,NaN,NaN,O994,355,107,NaN,32,1,11O994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,O994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,1,1,260,2
2712617,1,NaN,6.0,1,11,F,1,29,NaN,31,11,5,NaN,1,M,6,2015,U,7.0,B,N,NaN,NaN,O268,352,107,NaN,32,3,11O268,21O998,61O995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,O268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6
2715818,1,NaN,4.0,1,12,F,1,25,NaN,31,11,5,NaN,2,S,2,2015,U,7.0,B,N,NaN,NaN,O150,347,107,NaN,32,3,11O994,21O150,31O150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,O150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,1,1,275,5
2716221,1,NaN,3.0,1,12,F,1,32,NaN,32,12,5,NaN,3,S,6,2015,U,7.0,C,Y,NaN,NaN,O994,355,107,NaN,32,1,11O994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,O994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,3,2,100,7
2718143,2,NaN,4.0,1,12,F,1,41,NaN,34,14,6,NaN,1,D,4,2015,U,7.0,C,N,NaN,NaN,O961,354,107,NaN,32,3,11O961,21O961,31O961,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,O961,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,3,2,100,7

In [7]:
df = pd.concat([
    df_2015, df_2014, df_2013, df_2012, df_2011, df_2010, df_2009, df_2008, df_2007, df_2006, df_2005
], axis=0, join='inner')

In [8]:
df['current_data_year'].unique()

array([2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006, 2005])

In [9]:
df.head()

,resident_status,education_1989_revision,education_2003_revision,education_reporting_flag,month_of_death,sex,detail_age_type,detail_age,age_substitution_flag,age_recode_52,age_recode_27,age_recode_12,infant_age_recode_22,place_of_death_and_decedents_status,marital_status,day_of_week_of_death,current_data_year,injury_at_work,manner_of_death,method_of_disposition,autopsy,activity_code,place_of_injury_for_causes_w00_y34_except_y06_and_y07_,icd_code_10th_revision,358_cause_recode,113_cause_recode,130_infant_cause_recode,39_cause_recode,number_of_entity_axis_conditions,entity_condition_1,entity_condition_2,entity_condition_3,entity_condition_4,entity_condition_5,entity_condition_6,entity_condition_7,entity_condition_8,entity_condition_9,entity_condition_10,entity_condition_11,entity_condition_12,entity_condition_13,entity_condition_14,entity_condition_15,entity_condition_16,entity_condition_17,entity_condition_18,entity_condition_19,entity_condition_20,number_of_record_axis_conditions,record_condition_1,record_condition_2,record_condition_3,record_condition_4,record_condition_5,record_condition_6,record_condition_7,record_condition_8,record_condition_9,record_condition_10,record_condition_11,record_condition_12,record_condition_13,record_condition_14,record_condition_15,record_condition_16,record_condition_17,record_condition_18,record_condition_19,record_condition_20,race,bridged_race_flag,race_imputation_flag,race_recode_3,race_recode_5,hispanic_origin,hispanic_originrace_recode
9966,1,12.0,NaN,0,2,F,1,37,NaN,33,13,6,NaN,1,M,3,2015,U,7.0,U,N,NaN,NaN,O268,352,107,NaN,32,4,11O268,21O995,31O268,41O903,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,O268,O903,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,3,2,100,7
10603,1,16.0,NaN,0,1,F,1,56,NaN,37,17,8,NaN,1,W,3,2015,U,7.0,U,N,NaN,NaN,O268,352,107,NaN,32,3,11O268,21O971,31O971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,O268,O971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,3,2,100,7
16009,1,14.0,NaN,0,3,F,1,31,NaN,32,12,5,NaN,7,M,3,2015,U,7.0,U,N,NaN,NaN,O881,350,107,NaN,32,2,11O993,21O881,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,O881,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6
20863,2,11.0,NaN,0,4,F,1,24,NaN,30,10,4,NaN,1,D,5,2015,U,NaN,U,U,NaN,NaN,O065,345,106,NaN,32,2,11O080,21O069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,O065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6
31488,3,16.0,NaN,0,7,F,1,28,NaN,31,11,5,NaN,1,S,7,2015,U,7.0,U,N,NaN,NaN,O998,355,107,NaN,32,2,11O994,21O998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,O998,O994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,3,2,100,7

In [10]:
display(list(df.columns.values))

['resident_status',
 'education_1989_revision',
 'education_2003_revision',
 'education_reporting_flag',
 'month_of_death',
 'sex',
 'detail_age_type',
 'detail_age',
 'age_substitution_flag',
 'age_recode_52',
 'age_recode_27',
 'age_recode_12',
 'infant_age_recode_22',
 'place_of_death_and_decedents_status',
 'marital_status',
 'day_of_week_of_death',
 'current_data_year',
 'injury_at_work',
 'manner_of_death',
 'method_of_disposition',
 'autopsy',
 'activity_code',
 'place_of_injury_for_causes_w00_y34_except_y06_and_y07_',
 'icd_code_10th_revision',
 '358_cause_recode',
 '113_cause_recode',
 '130_infant_cause_recode',
 '39_cause_recode',
 'number_of_entity_axis_conditions',
 'entity_condition_1',
 'entity_condition_2',
 'entity_condition_3',
 'entity_condition_4',
 'entity_condition_5',
 'entity_condition_6',
 'entity_condition_7',
 'entity_condition_8',
 'entity_condition_9',
 'entity_condition_10',
 'entity_condition_11',
 'entity_condition_12',
 'entity_condition_13',
 'entity_condition_14',
 'entity_condition_15',
 'entity_condition_16',
 'entity_condition_17',
 'entity_condition_18',
 'entity_condition_19',
 'entity_condition_20',
 'number_of_record_axis_conditions',
 'record_condition_1',
 'record_condition_2',
 'record_condition_3',
 'record_condition_4',
 'record_condition_5',
 'record_condition_6',
 'record_condition_7',
 'record_condition_8',
 'record_condition_9',
 'record_condition_10',
 'record_condition_11',
 'record_condition_12',
 'record_condition_13',
 'record_condition_14',
 'record_condition_15',
 'record_condition_16',
 'record_condition_17',
 'record_condition_18',
 'record_condition_19',
 'record_condition_20',
 'race',
 'bridged_race_flag',
 'race_imputation_flag',
 'race_recode_3',
 'race_recode_5',
 'hispanic_origin',
 'hispanic_originrace_recode']

In [11]:
#drop columns
df = df.drop(['education_1989_revision','education_reporting_flag','detail_age_type',
              'age_substitution_flag','age_recode_52','age_recode_27','age_recode_12',
              'infant_age_recode_22','injury_at_work','method_of_disposition','entity_condition_4',
              'entity_condition_5', 'entity_condition_6','entity_condition_7','entity_condition_8',
              'entity_condition_9','entity_condition_10','entity_condition_11','entity_condition_12',
              'entity_condition_13','entity_condition_14','entity_condition_15','entity_condition_16',
              'entity_condition_17','entity_condition_18','entity_condition_19','entity_condition_20',
              'record_condition_4','record_condition_5','record_condition_6','record_condition_7',
              'record_condition_8','record_condition_9','record_condition_10','record_condition_11',
              'record_condition_12','record_condition_13','record_condition_14','record_condition_15',
              'record_condition_16','record_condition_17','record_condition_18','record_condition_19',
              'record_condition_20','bridged_race_flag','race_imputation_flag', 'activity_code', 'sex'], axis = 1)

In [12]:
df.head()

,resident_status,education_2003_revision,month_of_death,detail_age,place_of_death_and_decedents_status,marital_status,day_of_week_of_death,current_data_year,manner_of_death,autopsy,place_of_injury_for_causes_w00_y34_except_y06_and_y07_,icd_code_10th_revision,358_cause_recode,113_cause_recode,130_infant_cause_recode,39_cause_recode,number_of_entity_axis_conditions,entity_condition_1,entity_condition_2,entity_condition_3,number_of_record_axis_conditions,record_condition_1,record_condition_2,record_condition_3,race,race_recode_3,race_recode_5,hispanic_origin,hispanic_originrace_recode
9966,1,NaN,2,37,1,M,3,2015,7.0,N,NaN,O268,352,107,NaN,32,4,11O268,21O995,31O268,2,O268,O903,NaN,2,3,2,100,7
10603,1,NaN,1,56,1,W,3,2015,7.0,N,NaN,O268,352,107,NaN,32,3,11O268,21O971,31O971,2,O268,O971,NaN,2,3,2,100,7
16009,1,NaN,3,31,7,M,3,2015,7.0,N,NaN,O881,350,107,NaN,32,2,11O993,21O881,NaN,1,O881,NaN,NaN,1,1,1,100,6
20863,2,NaN,4,24,1,D,5,2015,NaN,U,NaN,O065,345,106,NaN,32,2,11O080,21O069,NaN,1,O065,NaN,NaN,1,1,1,100,6
31488,3,NaN,7,28,1,S,7,2015,7.0,N,NaN,O998,355,107,NaN,32,2,11O994,21O998,NaN,2,O998,O994,NaN,2,3,2,100,7

In [13]:
df.to_csv('data/interim_data/cdc_data_filtered.csv', index=False)

In [14]:
# LOAD FIRST CELL AND THEN NOTEBOOK FROM HERE unless you have added new years, or changed code before this cell
df_filtered = pd.read_csv('data/interim_data/cdc_data_filtered.csv')

In [15]:
df_filtered.head()

,resident_status,education_2003_revision,month_of_death,detail_age,place_of_death_and_decedents_status,marital_status,day_of_week_of_death,current_data_year,manner_of_death,autopsy,place_of_injury_for_causes_w00_y34_except_y06_and_y07_,icd_code_10th_revision,358_cause_recode,113_cause_recode,130_infant_cause_recode,39_cause_recode,number_of_entity_axis_conditions,entity_condition_1,entity_condition_2,entity_condition_3,number_of_record_axis_conditions,record_condition_1,record_condition_2,record_condition_3,race,race_recode_3,race_recode_5,hispanic_origin,hispanic_originrace_recode
0,1,NaN,2,37,1,M,3,2015,7.0,N,NaN,O268,352,107,NaN,32,4,11O268,21O995,31O268,2,O268,O903,NaN,2,3,2,100,7
1,1,NaN,1,56,1,W,3,2015,7.0,N,NaN,O268,352,107,NaN,32,3,11O268,21O971,31O971,2,O268,O971,NaN,2,3,2,100,7
2,1,NaN,3,31,7,M,3,2015,7.0,N,NaN,O881,350,107,NaN,32,2,11O993,21O881,NaN,1,O881,NaN,NaN,1,1,1,100,6
3,2,NaN,4,24,1,D,5,2015,NaN,U,NaN,O065,345,106,NaN,32,2,11O080,21O069,NaN,1,O065,NaN,NaN,1,1,1,100,6
4,3,NaN,7,28,1,S,7,2015,7.0,N,NaN,O998,355,107,NaN,32,2,11O994,21O998,NaN,2,O998,O994,NaN,2,3,2,100,7

In [16]:
print(df_filtered.isnull().sum() / len(df_filtered))

resident_status                                           0.000000
education_2003_revision                                   0.172966
month_of_death                                            0.000000
detail_age                                                0.000000
place_of_death_and_decedents_status                       0.000000
marital_status                                            0.000000
day_of_week_of_death                                      0.000000
current_data_year                                         0.000000
manner_of_death                                           0.123254
autopsy                                                   0.000000
place_of_injury_for_causes_w00_y34_except_y06_and_y07_    0.978904
icd_code_10th_revision                                    0.000000
358_cause_recode                                          0.000000
113_cause_recode                                          0.000000
130_infant_cause_recode                                   1.000000
39_cause_recode                                           0.000000
number_of_entity_axis_conditions                          0.000000
entity_condition_1                                        0.000000
entity_condition_2                                        0.250513
entity_condition_3                                        0.520363
number_of_record_axis_conditions                          0.000000
record_condition_1                                        0.000000
record_condition_2                                        0.650552
record_condition_3                                        0.891005
race                                                      0.000000
race_recode_3                                             0.000000
race_recode_5                                             0.000000
hispanic_origin                                           0.000000
hispanic_originrace_recode                                0.000000
dtype: float64

In [17]:
#Fill empty values with Not Anailable and visualize the data to make sure code code didn't break the data
df_cleaned = df_filtered.fillna('Not Available')

In [18]:
df_cleaned.columns

Index(['resident_status', 'education_2003_revision', 'month_of_death',
       'detail_age', 'place_of_death_and_decedents_status', 'marital_status',
       'day_of_week_of_death', 'current_data_year', 'manner_of_death',
       'autopsy', 'place_of_injury_for_causes_w00_y34_except_y06_and_y07_',
       'icd_code_10th_revision', '358_cause_recode', '113_cause_recode',
       '130_infant_cause_recode', '39_cause_recode',
       'number_of_entity_axis_conditions', 'entity_condition_1',
       'entity_condition_2', 'entity_condition_3',
       'number_of_record_axis_conditions', 'record_condition_1',
       'record_condition_2', 'record_condition_3', 'race', 'race_recode_3',
       'race_recode_5', 'hispanic_origin', 'hispanic_originrace_recode'],
      dtype='object')

In [19]:
resident_status_dict= {1:"RESIDENTS",
                       2:"INTRASTATE NONRESIDENTS",
                       3: "INSTRASTATE NONRESIDENTS",
                       4: "FOREIGN RESIDENTS"}

education_2003_revision_dict = {
    1: "8th grade or less",
    2: "9 - 12th grade, no diploma",
    3: "high school graduate or GED completed",
    4: "some college credit, but no degree",
    5: "Associate degree",
    6: "Bachelorâ€™s degree",
    7: "Masterâ€™s degree",
    8: "Doctorate or professional degree",
    9: "Unknown"
}

month_of_death_dict= { 10: "October",
                       11: "November",
                       12: "December",
                       1: "January", 
                       2: "February",
                       3: "March",
                       4: "April",
                       5:  "May",
                       6:  "June",
                       7:  "July",
                       8: "August",
                       9:"September"}

detail_age_dict= {1: "Years",
                  2: "Months",
                  4: "Days",
                  5: "Hours",
                  6: "Minutes",
                  9: "NaN"}

place_of_death_and_descendents_status_dict= {1: "Hospital, Clinic or Medical Center",
                                             2: "Hospital, Clinic or Medical Center",
                                             3: "Hospital, Clinic or Medical Center",
                                             4: "Decedentâ€™s home",
                                             5: "Hospice facility",
                                             6: "Nursing home/long term care",
                                             7: "Other",
                                             9: "Place of death unknown"}

marital_status_dict= {  "S": "Never married, Single",
                        "M": "Married",
                        "W": "Widowed",
                        "D": "Divorced",
                        "U": "Marital Status unknown"}

In [20]:
df_cleaned["place_of_death_and_decedents_status"] = df_cleaned["place_of_death_and_decedents_status"].replace(place_of_death_and_descendents_status_dict).astype('category')

In [21]:
df_cleaned["detail_age"] = df_cleaned["detail_age"].replace(detail_age_dict).astype('category')

In [22]:
df_cleaned.dtypes

resident_status                                              int64
education_2003_revision                                     object
month_of_death                                               int64
detail_age                                                category
place_of_death_and_decedents_status                       category
marital_status                                              object
day_of_week_of_death                                         int64
current_data_year                                            int64
manner_of_death                                             object
autopsy                                                     object
place_of_injury_for_causes_w00_y34_except_y06_and_y07_      object
icd_code_10th_revision                                      object
358_cause_recode                                             int64
113_cause_recode                                             int64
130_infant_cause_recode                                     object
39_cause_recode                                              int64
number_of_entity_axis_conditions                             int64
entity_condition_1                                          object
entity_condition_2                                          object
entity_condition_3                                          object
number_of_record_axis_conditions                             int64
record_condition_1                                          object
record_condition_2                                          object
record_condition_3                                          object
race                                                         int64
race_recode_3                                                int64
race_recode_5                                                int64
hispanic_origin                                              int64
hispanic_originrace_recode                                   int64
dtype: object

In [23]:
df_cleaned["education_2003_revision"] = df_cleaned["education_2003_revision"].replace(education_2003_revision_dict).astype('category')

In [24]:
df_cleaned["month_of_death"] = df_cleaned["month_of_death"].replace(month_of_death_dict).astype('category')

In [25]:
df_cleaned["resident_status"] = df_cleaned["resident_status"].replace(resident_status_dict).astype('category')

In [26]:
df_cleaned["marital_status"] = df_cleaned["marital_status"].replace(marital_status_dict).astype('category')

In [27]:
#number_of_entity_axis_conditions, entity_condition_1, entity_condition_2 are not present             

_358_cause_recode_dict = {
    339 : "Pregnancy, childbirth and the puerperium",
    340 : "Pregnancy with abortive outcome",
    341 : "Ectopic pregnancy",
    342 : "Spontaneous abortion",
    343 : "Medical abortion",
    344 : "Other abortion",
    345 : "Other and unspecified pregnancy with abortive outcome",
    346 : "Other direct obstetric deaths",
    347 : "Eclampsia and pre-eclampsia",
    348 : "Hemorrhage of pregnancy and childbirth and placenta previa",
    349 : "Complications predominately related to the puerperium",
    350 : "Obstetric embolism",
    351 : "Other complications predominately related to the puerperium",
    352 : "All other direct obstetric causes",
    353 : "Obstetric death of unspecified cause",
    354 : "Other deaths related to pregnancy, childbirth and the puerperium",
    355 : "Indirect obstetric deaths",
    356 : "Certain conditions originating in the perinatal period",
    357 : "Newborn affected by maternal factors and by complications of pregnancy, labor and delivery",
    358 : "Disorders related to short gestation and low birth weight, not elsewhere classified",
    359 : "Birth trauma",
    360 : "Intrauterine hypoxia and birth asphyxia",
    361 : "Respiratory distress of newborn",
    362 : "Other respiratory conditions originating in the perinatal period",
    363 : "Infections specific to the perinatal period",
    364 : "Other and unspecified conditions originating in the perinatal period"}

_113_cause_recode_dict = {
    105 : "Pregnancy, childbirth and the puerperium",
    106 : "Pregnancy with abortive outcome",
    107 : "Other complications of pregnancy, childbirth and the puerperium", 
    108 : "Certain conditions originating in the perinatal period"}

_130_infant_cause_recode_dict = {
    100 : "Interstitial emphysema and related conditions originating in the perinatal period",
    101 : "Pulmonary hemorrhage originating in the perinatal period",
    102 : "Chronic respiratory disease originating in the perinatal period",
    104 : "All other respiratory conditions originating in the perinatal period",
    105 : "Infections specific to the perinatal period",
    108 : "All other infections specific to the perinatal period",
    71 : "Newborn affected by maternal factors and by complications of pregnancy, labor and delivery",
    72 : "Newborn affected by maternal hypertensive disorders",
    73 : "Newborn affected by other maternal conditions which may be unrelated to present pregnancy",
    74 : "Newborn affected by maternal complications of pregnancy",
    75 : "Newborn affected by incompetent cervix",
    76 : "Newborn affected by premature rupture of membranes",
    77 : "Newborn affected by multiple pregnancy",
    78 : "Newborn affected by other maternal complications of pregnancy",
    79 : "Newborn affected by complications of placenta, cord and membranes",
    80 : "Newborn affected by complications involving placenta",
    81 : "Newborn affected by complications involving cord",
    82 : "Newborn affected by chorioamnionitis",
    83 : "Newborn affected by other and unspecified abnormalities of membranes",
    84 : "Newborn affected by other complications of labor and delivery",
    85 : "Newborn affected by noxious influences transmitted via placenta or breast milk"}

_39_cause_recode_dict = {
    32 : "Pregnancy, childbirth and the puerperium",
    33 : "Certain conditions originating in the perinatal period"}

In [28]:
df_cleaned["358_cause_recode"] = df_cleaned["358_cause_recode"].replace(_358_cause_recode_dict).astype('category')

In [29]:
df_cleaned["113_cause_recode"] = df_cleaned["113_cause_recode"].replace(_113_cause_recode_dict).astype('category')

In [30]:
df_cleaned["130_infant_cause_recode"] = df_cleaned["130_infant_cause_recode"].replace(_130_infant_cause_recode_dict).astype('category')

In [31]:
df_cleaned["39_cause_recode"] = df_cleaned["39_cause_recode"].replace(_39_cause_recode_dict).astype('category')

In [32]:
df_cleaned.head(20)

,resident_status,education_2003_revision,month_of_death,detail_age,place_of_death_and_decedents_status,marital_status,day_of_week_of_death,current_data_year,manner_of_death,autopsy,place_of_injury_for_causes_w00_y34_except_y06_and_y07_,icd_code_10th_revision,358_cause_recode,113_cause_recode,130_infant_cause_recode,39_cause_recode,number_of_entity_axis_conditions,entity_condition_1,entity_condition_2,entity_condition_3,number_of_record_axis_conditions,record_condition_1,record_condition_2,record_condition_3,race,race_recode_3,race_recode_5,hispanic_origin,hispanic_originrace_recode
0,RESIDENTS,Not Available,February,37,"Hospital, Clinic or Medical Center",Married,3,2015,7,N,Not Available,O268,All other direct obstetric causes,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",4,11O268,21O995,31O268,2,O268,O903,Not Available,2,3,2,100,7
1,RESIDENTS,Not Available,January,56,"Hospital, Clinic or Medical Center",Widowed,3,2015,7,N,Not Available,O268,All other direct obstetric causes,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",3,11O268,21O971,31O971,2,O268,O971,Not Available,2,3,2,100,7
2,RESIDENTS,Not Available,March,31,Other,Married,3,2015,7,N,Not Available,O881,Obstetric embolism,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",2,11O993,21O881,Not Available,1,O881,Not Available,Not Available,1,1,1,100,6
3,INTRASTATE NONRESIDENTS,Not Available,April,24,"Hospital, Clinic or Medical Center",Divorced,5,2015,Not Available,U,Not Available,O065,Other and unspecified pregnancy with abortive ...,Pregnancy with abortive outcome,Not Available,"Pregnancy, childbirth and the puerperium",2,11O080,21O069,Not Available,1,O065,Not Available,Not Available,1,1,1,100,6
4,INSTRASTATE NONRESIDENTS,Not Available,July,28,"Hospital, Clinic or Medical Center","Never married, Single",7,2015,7,N,Not Available,O998,Indirect obstetric deaths,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",2,11O994,21O998,Not Available,2,O998,O994,Not Available,2,3,2,100,7
5,RESIDENTS,Not Available,August,43,"Hospital, Clinic or Medical Center","Never married, Single",6,2015,7,N,Not Available,O268,All other direct obstetric causes,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",3,11O988,61O268,62O149,2,O268,O149,Not Available,2,3,2,100,7
6,INTRASTATE NONRESIDENTS,Not Available,November,26,"Hospital, Clinic or Medical Center",Married,4,2015,7,N,Not Available,O903,Other complications predominately related to t...,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",5,11O993,21O268,31O993,2,O903,O268,Not Available,1,1,1,100,6
7,RESIDENTS,Not Available,October,38,"Hospital, Clinic or Medical Center","Never married, Single",7,2015,5,Y,Not Available,O16,Eclampsia and pre-eclampsia,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",4,11O268,21O992,31O998,2,O16,O268,Not Available,2,3,2,100,7
8,RESIDENTS,Not Available,December,27,"Hospital, Clinic or Medical Center","Never married, Single",7,2015,7,N,Not Available,O364,All other direct obstetric causes,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",5,11O268,21O364,61O268,2,O364,O268,Not Available,2,3,2,100,7
9,RESIDENTS,"some college credit, but no degree",February,48,Decedentâ€™s home,"Never married, Single",6,2015,7,N,Not Available,O961,"Other deaths related to pregnancy, childbirth ...","Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",5,11O969,21O969,31O961,1,O961,Not Available,Not Available,1,1,1,100,6
10,RESIDENTS,"9 - 12th grade, no diploma",March,22,"Hospital, Clinic or Medical Center","Never married, Single",3,2015,7,N,Not Available,O961,"Other deaths related to pregnancy, childbirth ...","Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",4,11O961,21O961,31O961,1,O961,Not Available,Not Available,1,1,1,100,6
11,INTRASTATE NONRESIDENTS,high school graduate or GED completed,April,20,"Hospital, Clinic or Medical Center","Never married, Single",6,2015,7,Y,Not Available,O266,All other direct obstetric causes,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",4,11O988,21O985,31O268,2,O266,O268,Not Available,1,1,1,100,6
12,RESIDENTS,high school graduate or GED completed,May,30,"Hospital, Clinic or Medical Center",Married,2,2015,7,Y,Not Available,O879,Other complications predominately related to t...,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",2,11O882,21O879,Not Available,2,O879,O882,Not Available,1,1,1,100,6
13,INTRASTATE NONRESIDENTS,"9 - 12th grade, no diploma",February,37,"Hospital, Clinic or Medical Center",Divorced,6,2015,7,N,Not Available,O268,All other direct obstetric causes,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",5,11O268,21O994,31O994,1,O268,Not Available,Not Available,2,3,2,100,7
14,RESIDENTS,high school graduate or GED completed,June,34,"Hospital, Clinic or Medical Center",Married,2,2015,7,Y,Not Available,O998,Indirect obstetric deaths,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",5,11O995,21Y833,22O268,3,O998,O268,Y833,2,3,2,100,7
15,RESIDENTS,high school graduate or GED completed,May,19,Decedentâ€™s home,"Never married, Single",2,2015,7,Y,Not Available,O961,"Other deaths related to pregnancy, childbirth ...","Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",1,11O961,Not Available,Not Available,1,O961,Not Available,Not Available,1,1,1,100,6
16,INTRASTATE NONRESIDENTS,high school graduate or GED completed,April,23,"Hospital, Clinic or Medical Center","Never married, Single",6,2015,7,Y,Not Available,O961,"Other deaths related to pregnancy, childbirth ...","Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",2,11O961,21O961,Not Available,1,O961,Not Available,Not Available,2,3,2,100,7
17,INTRASTATE NONRESIDENTS,high school graduate or GED completed,October,33,"Hospital, Clinic or Medical Center",Married,3,2015,7,N,Not Available,O249,All other direct obstetric causes,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",2,11O268,21O249,Not Available,2,O249,O268,Not Available,1,1,1,100,6
18,RESIDENTS,Associate degree,October,27,Decedentâ€™s home,Married,6,2015,7,Y,Not Available,O994,Indirect obstetric deaths,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",2,11O994,21O994,Not Available,1,O994,Not Available,Not Available,1,1,1,100,6
19,RESIDENTS,"some college credit, but no degree",September,26,"Hospital, Clinic or Medical Center","Never married, Single",1,2015,7,N,Not Available,O150,Eclampsia and pre-eclampsia,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",2,11O159,21O16,Not Available,3,O150,O159,O16,1,1,1,100,6

In [33]:
df_cleaned.dtypes

resident_status                                           category
education_2003_revision                                   category
month_of_death                                            category
detail_age                                                category
place_of_death_and_decedents_status                       category
marital_status                                            category
day_of_week_of_death                                         int64
current_data_year                                            int64
manner_of_death                                             object
autopsy                                                     object
place_of_injury_for_causes_w00_y34_except_y06_and_y07_      object
icd_code_10th_revision                                      object
358_cause_recode                                          category
113_cause_recode                                          category
130_infant_cause_recode                                   category
39_cause_recode                                           category
number_of_entity_axis_conditions                             int64
entity_condition_1                                          object
entity_condition_2                                          object
entity_condition_3                                          object
number_of_record_axis_conditions                             int64
record_condition_1                                          object
record_condition_2                                          object
record_condition_3                                          object
race                                                         int64
race_recode_3                                                int64
race_recode_5                                                int64
hispanic_origin                                              int64
hispanic_originrace_recode                                   int64
dtype: object

In [34]:
# record_condition_4 and record_condition_5 not present

race_dict = {
    18: "Asian Indian",
    28: "Korean",
    38: "Samoan",
    48: "Vietnamese",
    58: "Guamanian",
    68: "Other Asian or Pacific Islander in areas reporting codes 18-58",
    78: "Combined other Asian or Pacific Islander, includes codes 18-68",
    1: "White",
    2: "Black",
    3: "American Indian (includes Aleuts and Eskimos)",
    4: "Chinese",
    5: "Japanese",
    6: "Hawaiian (includes Part-Hawaiian)",
    7: "Filipino",
    0: "Other races",
    8: "Other Asian or Pacific Islander"
}
    
race_recode_3_dict = {
    1: "White",
    2: "Races other than White or Black",
    3: "Black"
}
    
race_recode_5_dict = {
    0: "Other (Puerto Rico only)",
    1: "White",
    2: "Black",
    3: "American Indian",
    4: "Asian or Pacific Islander"
}
        
hispanic_originrace_recode_dict = {
    1: "Mexican",
    2: "Puerto Rican",
    3: "Cuban",
    4: "Central or South American",
    5: "Other or unknown Hispanic",
    6: "Non - Hispanic white",
    7: "Non - Hispanic black",
    8: "Non - Hispanic other races",
    9: "Hispanic origin unknown"
}

hispanic_origin_dict = {
    "220": "Central and South American",
    "100-199": "Non - Hispanic",
    "200-209": "Spaniard",
    "210-219": "Mexican",
    "260-269": "Puerto Rican",
    "270-274": "Cuban",
    "275-279": "Dominican",
    "221-230": "Central American",
    "231-249": "South American",
    "250-259": "Latin American",
    "280-299": "Other Hispanic",
    "996-999": "Unknown"
}

def get_hispanic_origin(value):
    if value == 220:
        return "Central and South American"
    elif value in range(100,200):
        return "Non â€“ Hispanic"
    elif value in range(200,210):
        return "Spaniard"
    elif value in range(210,220):
        return "Mexican"
    elif value in range(260,270):
        return "Puerto Rican"
    elif value in range(270,275):
        return "Cuban"
    elif value in range(275,280):
        return "Dominican"
    elif value in range(221,231):
        return "Central American"
    elif value in range(231,250):
        return "South American"
    elif value in range(250,260):
        return "Latin American"
    elif value in range(280,300):
        return "Other Hispanic"
    elif value in range(996,1000):
        return "Unknown"
    
day_of_week_of_death_dict = {
    1:"Sunday",
    2:"Monday",
    3:"Tuesday",
    4:"Wednesday",
    5:"Thursday",
    6:"Friday",
    7:"Saturday",
    9:"Unknown",
}

manner_of_death_dict = {
    1:"Accident",
    2:"Suicide",
    3:"Homicide",
    4:"Pending investigation",
    5:"Could not determine",
    6:"Self-Inflicted",
    7:"Natural",
    "Blank": "Not specified",
}

autopsy_dict = {
    "Y":"Yes",
    "N":"No",
    "U":"Unknown"
}

place_of_injury_for_causes_w00_y34_except_y06_and_y07_dict = {
    0:"Home",
    1:"Residential institution",
    2:"School, other institution and public administrative area",
    3:"Sports and athletics area",
    4:"Street and highway",
    5:"Trade and service area",
    6:"Industrial and construction area",
    7:"Farm",
    8:"Other Specified Places",
    9:"Unspecified place",
    "Blank":"Causes other than W00-Y34, except Y06.- and Y07.-"
}

In [35]:
df_cleaned["race"] = df_cleaned["race"].replace(race_dict).astype('category')

In [36]:
df_cleaned["race_recode_3"] = df_cleaned["race_recode_3"].replace(race_recode_3_dict).astype('category')

In [37]:
df_cleaned["race_recode_5"] = df_cleaned["race_recode_5"].replace(race_recode_5_dict).astype('category')

In [38]:
df_cleaned["hispanic_originrace_recode"] = df_cleaned["hispanic_originrace_recode"].replace(hispanic_originrace_recode_dict).astype('category')

In [39]:
df_cleaned["day_of_week_of_death"] = df_cleaned["day_of_week_of_death"].replace(day_of_week_of_death_dict).astype('category')

In [40]:
df_cleaned["manner_of_death"] = df_cleaned["manner_of_death"].replace(manner_of_death_dict).astype('category')

In [41]:
df_cleaned["autopsy"] = df_cleaned["autopsy"].replace(autopsy_dict).astype('category')

In [42]:
df_cleaned["place_of_injury_for_causes_w00_y34_except_y06_and_y07_"] = df_cleaned["place_of_injury_for_causes_w00_y34_except_y06_and_y07_"].replace(place_of_injury_for_causes_w00_y34_except_y06_and_y07_dict).astype('category')

In [43]:
# Find out what the following ICD 10 codes mean (google search):
# O16 => Unspecified maternal hypertension
# O149 => unspecified pre-eclampsia
# O159 => Eclampsia, unspecified as to time period
# O268 => Other specified pregnancy-related conditions (Exhaustion and fatigue/Peripheral neuritis/Renal disease)
#O960 => Death from direct obstetric cause occurring more than 42 days but less than one year after delivery 
#O998 => Other specified diseases and conditions complicating pregnancy, childbirth and the puerperium
        #Combination of conditions classifiable to O99.0-O99.7
        #Conditions in C00-D48, H00-H95, M00-M99, N00-N99, and Q00-Q99 not elsewhere classified

#O961 => Death from indirect obstetric cause occurring more than 42 days but less than one year after delivery
#O994 => Diseases of the circulatory system complicating pregnancy, childbirth and the puerperium
#O142 => HELLP syndrome
#O150 => Eclampsia in pregnancy 
#O11 => Pre-eclampsia superimposed on chronic hypertension

# Create a replacement dict for the column icd_code_10th_revision with the values from the codes listed above
# replace the codes in the column icd_code_10th_revision for the values in the replacement dict

In [44]:
icd_code_10th_revision_dict={
    "O16":"Unspecified maternal hypertension",
    "O149":"unspecified pre-eclampsia",
    "O159": "Eclampsia, unspecified as to time period",
    "O268" : "Exhaustion and fatigue, Peripheral neuritis, or Renal disease",
    "O960" : "Death from direct obstetric cause occurring more than 42 days but less than one year after delivery", 
    "O998" : "Combination of conditions classifiable to O99.0-O99.7",
    "O961" : "Death from indirect obstetric cause occurring more than 42 days but less than one year after delivery",
    "O994" : "Diseases of the circulatory system complicating pregnancy, childbirth and the puerperium",
    "O142" : "HELLP syndrome",
    "O150" : "Eclampsia in pregnancy",
    "O11" : "Pre-eclampsia superimposed on chronic hypertension",
    "O903" :"Supervision of pregnancy with history of infertility, third trimester",
    "O96" : "Late maternal deaths",
    "O141" : "O141*"
}

In [45]:
df_cleaned["icd_code_10th_revision"] = df_cleaned["icd_code_10th_revision"].replace(icd_code_10th_revision_dict).astype('category')

In [46]:
df_cleaned.head()

,resident_status,education_2003_revision,month_of_death,detail_age,place_of_death_and_decedents_status,marital_status,day_of_week_of_death,current_data_year,manner_of_death,autopsy,place_of_injury_for_causes_w00_y34_except_y06_and_y07_,icd_code_10th_revision,358_cause_recode,113_cause_recode,130_infant_cause_recode,39_cause_recode,number_of_entity_axis_conditions,entity_condition_1,entity_condition_2,entity_condition_3,number_of_record_axis_conditions,record_condition_1,record_condition_2,record_condition_3,race,race_recode_3,race_recode_5,hispanic_origin,hispanic_originrace_recode
0,RESIDENTS,Not Available,February,37,"Hospital, Clinic or Medical Center",Married,Tuesday,2015,Natural,No,Not Available,"Exhaustion and fatigue, Peripheral neuritis, o...",All other direct obstetric causes,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",4,11O268,21O995,31O268,2,O268,O903,Not Available,Black,Black,Black,100,Non - Hispanic black
1,RESIDENTS,Not Available,January,56,"Hospital, Clinic or Medical Center",Widowed,Tuesday,2015,Natural,No,Not Available,"Exhaustion and fatigue, Peripheral neuritis, o...",All other direct obstetric causes,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",3,11O268,21O971,31O971,2,O268,O971,Not Available,Black,Black,Black,100,Non - Hispanic black
2,RESIDENTS,Not Available,March,31,Other,Married,Tuesday,2015,Natural,No,Not Available,O881,Obstetric embolism,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",2,11O993,21O881,Not Available,1,O881,Not Available,Not Available,White,White,White,100,Non - Hispanic white
3,INTRASTATE NONRESIDENTS,Not Available,April,24,"Hospital, Clinic or Medical Center",Divorced,Thursday,2015,Not Available,Unknown,Not Available,O065,Other and unspecified pregnancy with abortive ...,Pregnancy with abortive outcome,Not Available,"Pregnancy, childbirth and the puerperium",2,11O080,21O069,Not Available,1,O065,Not Available,Not Available,White,White,White,100,Non - Hispanic white
4,INSTRASTATE NONRESIDENTS,Not Available,July,28,"Hospital, Clinic or Medical Center","Never married, Single",Saturday,2015,Natural,No,Not Available,Combination of conditions classifiable to O99....,Indirect obstetric deaths,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",2,11O994,21O998,Not Available,2,O998,O994,Not Available,Black,Black,Black,100,Non - Hispanic black

In [47]:
len(df_cleaned['icd_code_10th_revision'].unique())

182

In [48]:
df_cleaned.shape

(10239, 29)

In [49]:
df_cleaned["hispanic_origin"] = df_cleaned.apply(lambda col: get_hispanic_origin(col['hispanic_origin']), axis=1)

In [50]:
df_cleaned["hispanic_origin"] = df_cleaned["hispanic_origin"].astype('category')

In [51]:
df_cleaned.head()

,resident_status,education_2003_revision,month_of_death,detail_age,place_of_death_and_decedents_status,marital_status,day_of_week_of_death,current_data_year,manner_of_death,autopsy,place_of_injury_for_causes_w00_y34_except_y06_and_y07_,icd_code_10th_revision,358_cause_recode,113_cause_recode,130_infant_cause_recode,39_cause_recode,number_of_entity_axis_conditions,entity_condition_1,entity_condition_2,entity_condition_3,number_of_record_axis_conditions,record_condition_1,record_condition_2,record_condition_3,race,race_recode_3,race_recode_5,hispanic_origin,hispanic_originrace_recode
0,RESIDENTS,Not Available,February,37,"Hospital, Clinic or Medical Center",Married,Tuesday,2015,Natural,No,Not Available,"Exhaustion and fatigue, Peripheral neuritis, o...",All other direct obstetric causes,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",4,11O268,21O995,31O268,2,O268,O903,Not Available,Black,Black,Black,Non â€“ Hispanic,Non - Hispanic black
1,RESIDENTS,Not Available,January,56,"Hospital, Clinic or Medical Center",Widowed,Tuesday,2015,Natural,No,Not Available,"Exhaustion and fatigue, Peripheral neuritis, o...",All other direct obstetric causes,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",3,11O268,21O971,31O971,2,O268,O971,Not Available,Black,Black,Black,Non â€“ Hispanic,Non - Hispanic black
2,RESIDENTS,Not Available,March,31,Other,Married,Tuesday,2015,Natural,No,Not Available,O881,Obstetric embolism,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",2,11O993,21O881,Not Available,1,O881,Not Available,Not Available,White,White,White,Non â€“ Hispanic,Non - Hispanic white
3,INTRASTATE NONRESIDENTS,Not Available,April,24,"Hospital, Clinic or Medical Center",Divorced,Thursday,2015,Not Available,Unknown,Not Available,O065,Other and unspecified pregnancy with abortive ...,Pregnancy with abortive outcome,Not Available,"Pregnancy, childbirth and the puerperium",2,11O080,21O069,Not Available,1,O065,Not Available,Not Available,White,White,White,Non â€“ Hispanic,Non - Hispanic white
4,INSTRASTATE NONRESIDENTS,Not Available,July,28,"Hospital, Clinic or Medical Center","Never married, Single",Saturday,2015,Natural,No,Not Available,Combination of conditions classifiable to O99....,Indirect obstetric deaths,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",2,11O994,21O998,Not Available,2,O998,O994,Not Available,Black,Black,Black,Non â€“ Hispanic,Non - Hispanic black

In [52]:
df_cleaned.tail()

,resident_status,education_2003_revision,month_of_death,detail_age,place_of_death_and_decedents_status,marital_status,day_of_week_of_death,current_data_year,manner_of_death,autopsy,place_of_injury_for_causes_w00_y34_except_y06_and_y07_,icd_code_10th_revision,358_cause_recode,113_cause_recode,130_infant_cause_recode,39_cause_recode,number_of_entity_axis_conditions,entity_condition_1,entity_condition_2,entity_condition_3,number_of_record_axis_conditions,record_condition_1,record_condition_2,record_condition_3,race,race_recode_3,race_recode_5,hispanic_origin,hispanic_originrace_recode
10234,RESIDENTS,high school graduate or GED completed,November,25,"Hospital, Clinic or Medical Center",Married,Wednesday,2005,Natural,Yes,Not Available,O429,All other direct obstetric causes,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",7,11O85,12O411,13O992,3,O411,O429,O85,Black,Black,Black,Non â€“ Hispanic,Non - Hispanic black
10235,RESIDENTS,Masterâ€™s degree,November,31,"Hospital, Clinic or Medical Center",Married,Monday,2005,Natural,No,Not Available,"Exhaustion and fatigue, Peripheral neuritis, o...",All other direct obstetric causes,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",2,11O268,21R99,Not Available,2,O268,R99,Not Available,White,White,White,Non â€“ Hispanic,Non - Hispanic white
10236,RESIDENTS,Bachelorâ€™s degree,December,40,"Hospital, Clinic or Medical Center",Married,Saturday,2005,Natural,Yes,Not Available,Combination of conditions classifiable to O99....,Indirect obstetric deaths,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",2,11O998,12O994,Not Available,2,O994,O998,Not Available,White,White,White,Non â€“ Hispanic,Non - Hispanic white
10237,RESIDENTS,high school graduate or GED completed,December,29,"Hospital, Clinic or Medical Center",Divorced,Wednesday,2005,Natural,Yes,Not Available,"Eclampsia, unspecified as to time period",Eclampsia and pre-eclampsia,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",1,11O159,Not Available,Not Available,1,O159,Not Available,Not Available,Black,Black,Black,Non â€“ Hispanic,Non - Hispanic black
10238,INTRASTATE NONRESIDENTS,Masterâ€™s degree,December,30,"Hospital, Clinic or Medical Center",Married,Sunday,2005,Not Available,Yes,Not Available,O881,Obstetric embolism,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",3,11O268,21O995,31O881,2,O268,O881,Not Available,White,White,White,Non â€“ Hispanic,Non - Hispanic white

In [53]:
df_cleaned = df_cleaned.rename(
    columns={'resident_status': 'resident_status',
             'education_2003_revision': 'education_level',
             'month_of_death': 'month_of_death' ,
             'detail_age': 'age',
             'place_of_death_and_decedents_status': 'place_of_death_patient_status',
             'marital_status' : 'marital_status',
             'day_of_week_of_death': 'day_of_week_of_death',
             'current_data_year': 'year',
             'manner_of_death': 'manner_of_death',
             'autopsy': 'was_autopsy_done',
             'place_of_injury_for_causes_w00_y34_except_y06_and_y07_': 'place_of_injury_for_icd_w00_y34_except_y06_and_y07_',
             'icd_code_10th_revision':'icd_code_10th_revision',
             '358_cause_recode': '358_causes_of_death',
             '113_cause_recode': '113_causes_of_death',
             '130_infant_cause_recode': '130_causes_of_infant_death',
             '39_cause_recode': '39_cause_recode',
             'number_of_entity_axis_conditions': 'number_of_entity_axis_conditions',
             'entity_condition_1': 'entity_condition_1',
             'entity_condition_2': 'entity_condition_2',
             'entity_condition_3': 'entity_condition_3',
             'entity_condition_4': 'entity_condition_4',
             'entity_condition_5': 'entity_condition_5',
             'number_of_record_axis_conditions': 'number_of_record_axis_conditions',
             'record_condition_1': 'record_condition_1',
             'record_condition_2': 'record_condition_2',
             'record_condition_3': 'record_condition_3',
             'record_condition_4': 'record_condition_4',
             'record_condition_5': 'record_condition_5',
             'race': 'race',
             'race_recode_3': 'race_recode_3',
             'race_recode_5': 'race_recode_5',
             'hispanic_origin': 'hispanic_origin',
             'hispanic_originrace_recode': 'hispanic_originrace_recode'
 }
)

In [54]:
df_cleaned.head()

,resident_status,education_level,month_of_death,age,place_of_death_patient_status,marital_status,day_of_week_of_death,year,manner_of_death,was_autopsy_done,place_of_injury_for_icd_w00_y34_except_y06_and_y07_,icd_code_10th_revision,358_causes_of_death,113_causes_of_death,130_causes_of_infant_death,39_cause_recode,number_of_entity_axis_conditions,entity_condition_1,entity_condition_2,entity_condition_3,number_of_record_axis_conditions,record_condition_1,record_condition_2,record_condition_3,race,race_recode_3,race_recode_5,hispanic_origin,hispanic_originrace_recode
0,RESIDENTS,Not Available,February,37,"Hospital, Clinic or Medical Center",Married,Tuesday,2015,Natural,No,Not Available,"Exhaustion and fatigue, Peripheral neuritis, o...",All other direct obstetric causes,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",4,11O268,21O995,31O268,2,O268,O903,Not Available,Black,Black,Black,Non â€“ Hispanic,Non - Hispanic black
1,RESIDENTS,Not Available,January,56,"Hospital, Clinic or Medical Center",Widowed,Tuesday,2015,Natural,No,Not Available,"Exhaustion and fatigue, Peripheral neuritis, o...",All other direct obstetric causes,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",3,11O268,21O971,31O971,2,O268,O971,Not Available,Black,Black,Black,Non â€“ Hispanic,Non - Hispanic black
2,RESIDENTS,Not Available,March,31,Other,Married,Tuesday,2015,Natural,No,Not Available,O881,Obstetric embolism,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",2,11O993,21O881,Not Available,1,O881,Not Available,Not Available,White,White,White,Non â€“ Hispanic,Non - Hispanic white
3,INTRASTATE NONRESIDENTS,Not Available,April,24,"Hospital, Clinic or Medical Center",Divorced,Thursday,2015,Not Available,Unknown,Not Available,O065,Other and unspecified pregnancy with abortive ...,Pregnancy with abortive outcome,Not Available,"Pregnancy, childbirth and the puerperium",2,11O080,21O069,Not Available,1,O065,Not Available,Not Available,White,White,White,Non â€“ Hispanic,Non - Hispanic white
4,INSTRASTATE NONRESIDENTS,Not Available,July,28,"Hospital, Clinic or Medical Center","Never married, Single",Saturday,2015,Natural,No,Not Available,Combination of conditions classifiable to O99....,Indirect obstetric deaths,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",2,11O994,21O998,Not Available,2,O998,O994,Not Available,Black,Black,Black,Non â€“ Hispanic,Non - Hispanic black

In [55]:
df_cleaned.dtypes

resident_status                                        category
education_level                                        category
month_of_death                                         category
age                                                    category
place_of_death_patient_status                          category
marital_status                                         category
day_of_week_of_death                                   category
year                                                      int64
manner_of_death                                        category
was_autopsy_done                                       category
place_of_injury_for_icd_w00_y34_except_y06_and_y07_    category
icd_code_10th_revision                                 category
358_causes_of_death                                    category
113_causes_of_death                                    category
130_causes_of_infant_death                             category
39_cause_recode                                        category
number_of_entity_axis_conditions                          int64
entity_condition_1                                       object
entity_condition_2                                       object
entity_condition_3                                       object
number_of_record_axis_conditions                          int64
record_condition_1                                       object
record_condition_2                                       object
record_condition_3                                       object
race                                                   category
race_recode_3                                          category
race_recode_5                                          category
hispanic_origin                                        category
hispanic_originrace_recode                             category
dtype: object

In [56]:
display(list(df_cleaned.columns.values))

['resident_status',
 'education_level',
 'month_of_death',
 'age',
 'place_of_death_patient_status',
 'marital_status',
 'day_of_week_of_death',
 'year',
 'manner_of_death',
 'was_autopsy_done',
 'place_of_injury_for_icd_w00_y34_except_y06_and_y07_',
 'icd_code_10th_revision',
 '358_causes_of_death',
 '113_causes_of_death',
 '130_causes_of_infant_death',
 '39_cause_recode',
 'number_of_entity_axis_conditions',
 'entity_condition_1',
 'entity_condition_2',
 'entity_condition_3',
 'number_of_record_axis_conditions',
 'record_condition_1',
 'record_condition_2',
 'record_condition_3',
 'race',
 'race_recode_3',
 'race_recode_5',
 'hispanic_origin',
 'hispanic_originrace_recode']

In [57]:
df_cleaned.to_csv('data/interim_data/cdc_data_cleaned.csv', index=False)