In [108]:
import pandas as pd
import numpy as np

In [109]:
pd.set_option("max_columns", 80)

In [110]:
def read_csv_from_dropbox(dropbox_link):
    path = dropbox_link[0:-1] + "1"
    df = pd.read_csv(path)
    return df

In [111]:
df_2015 = read_csv_from_dropbox("https://www.dropbox.com/s/3efamu1exn2pnx5/2015_data.csv?dl=0")
df_2014 = read_csv_from_dropbox("https://www.dropbox.com/s/jdt0shvcz88ryt4/2014_data.csv?dl=0")
df_2013 = read_csv_from_dropbox("https://www.dropbox.com/s/1jo0kmtgnbymopt/2013_data.csv?dl=0")

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (40,41,42,43,61,62,63,64) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (39,40,41,42,43,60,61,62,63) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (39,40,41,42,43,60,61,62,63,64,65,66) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [112]:
df_2015

,resident_status,education_1989_revision,education_2003_revision,education_reporting_flag,month_of_death,sex,detail_age_type,detail_age,age_substitution_flag,age_recode_52,age_recode_27,age_recode_12,infant_age_recode_22,place_of_death_and_decedents_status,marital_status,day_of_week_of_death,current_data_year,injury_at_work,manner_of_death,method_of_disposition,autopsy,activity_code,place_of_injury_for_causes_w00_y34_except_y06_and_y07_,icd_code_10th_revision,358_cause_recode,113_cause_recode,130_infant_cause_recode,39_cause_recode,number_of_entity_axis_conditions,entity_condition_1,entity_condition_2,entity_condition_3,entity_condition_4,entity_condition_5,entity_condition_6,entity_condition_7,entity_condition_8,entity_condition_9,entity_condition_10,entity_condition_11,entity_condition_12,entity_condition_13,entity_condition_14,entity_condition_15,entity_condition_16,entity_condition_17,entity_condition_18,entity_condition_19,entity_condition_20,number_of_record_axis_conditions,record_condition_1,record_condition_2,record_condition_3,record_condition_4,record_condition_5,record_condition_6,record_condition_7,record_condition_8,record_condition_9,record_condition_10,record_condition_11,record_condition_12,record_condition_13,record_condition_14,record_condition_15,record_condition_16,record_condition_17,record_condition_18,record_condition_19,record_condition_20,race,bridged_race_flag,race_imputation_flag,race_recode_3,race_recode_5,hispanic_origin,hispanic_originrace_recode
0,1,NaN,3.0,1,1,M,1,84,NaN,42,22,10,NaN,1,M,1,2015,U,7.0,B,N,NaN,NaN,I500,230,67,NaN,22,2,11I500,61L031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,I500,L031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6
1,1,NaN,6.0,1,1,M,1,70,NaN,40,20,9,NaN,1,M,2,2015,U,7.0,C,N,NaN,NaN,C349,93,27,NaN,8,8,11I469,21R042,31C349,41J189,42J90,61J449,62I251,63F179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,C349,F179,I251,I469,J440,J90,R042,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6
2,1,NaN,3.0,1,1,F,1,91,NaN,44,24,11,NaN,4,W,6,2015,U,7.0,C,N,NaN,NaN,G309,189,52,NaN,17,1,11G309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,G309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6
3,1,NaN,3.0,1,1,F,1,40,NaN,34,14,6,NaN,4,S,5,2015,N,3.0,B,Y,9.0,9.0,X91,434,129,NaN,41,6,11T71,12X91,21T71,61T149,62S223,63S299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,X91,S223,S299,T149,T71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,2,3,100,8
4,1,NaN,5.0,1,1,F,1,89,NaN,43,23,11,NaN,6,W,5,2015,U,7.0,C,N,NaN,9.0,I250,214,62,NaN,21,3,11I250,21S720,61X590,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,I250,S720,X590,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2718193,1,NaN,1.0,1,5,M,6,5,NaN,1,1,1,1.0,7,S,7,2015,U,7.0,R,N,NaN,NaN,P072,358,108,89.0,33,1,11P072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,P072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,1.0,3,2,998,9
2718194,1,NaN,9.0,1,12,F,1,48,NaN,35,15,7,NaN,4,U,6,2015,U,7.0,B,N,NaN,NaN,I251,215,63,NaN,21,3,11R092,21I251,61F179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,I251,F179,R092,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6
2718195,4,NaN,9.0,1,12,M,1,33,NaN,32,12,5,NaN,1,U,1,2015,U,7.0,O,N,NaN,NaN,F102,178,111,NaN,37,1,11F102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,F102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,1.0,1,1,299,5
2718196,4,NaN,9.0,1,7,M,1,83,NaN,42,22,10,NaN,1,U,7,2015,U,7.0,O,N,NaN,NaN,I250,214,62,NaN,21,5,11R263,21I119,22I679,23I250,24I672,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,I250,I119,I672,R263,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,3,2,100,7
2718197,1,NaN,9.0,1,12,M,1,81,NaN,42,22,10,NaN,4,U,2,2015,U,7.0,B,N,NaN,NaN,I119,207,56,NaN,20,2,11I119,21I10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,I119,I10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,3,2,998,9

In [113]:
df = pd.concat([df_2015, df_2014, df_2013], axis=0, join='inner')

In [114]:
df['current_data_year'].unique()

array([2015, 2014, 2013])

In [115]:
df.head

<bound method NDFrame.head of          resident_status  education_1989_revision  education_2003_revision  \
0                      1                      NaN                      3.0
1                      1                      NaN                      6.0
2                      1                      NaN                      3.0
3                      1                      NaN                      3.0
4                      1                      NaN                      5.0
...                  ...                      ...                      ...
2601447                2                      NaN                      9.0
2601448                1                      NaN                      9.0
2601449                1                      NaN                      9.0
2601450                1                      NaN                      9.0
2601451                1                      NaN                      9.0

         education_reporting_flag  month_of_death sex  detail_age_type  \
0                               1               1   M                1
1                               1               1   M                1
2                               1               1   F                1
3                               1               1   F                1
4                               1               1   F                1
...                           ...             ...  ..              ...
2601447                         1              12   M                1
2601448                         1               4   M                1
2601449                         1              11   F                1
2601450                         1              12   M                1
2601451                         1              11   M                1

         detail_age  age_substitution_flag  age_recode_52  age_recode_27  \
0                84                    NaN             42             22
1                70                    NaN             40             20
2                91                    NaN             44             24
3                40                    NaN             34             14
4                89                    NaN             43             23
...             ...                    ...            ...            ...
2601447          32                    NaN             32             12
2601448          84                    NaN             42             22
2601449          52                    NaN             36             16
2601450          80                    NaN             42             22
2601451          71                    NaN             40             20

         age_recode_12  infant_age_recode_22  \
0                   10                   NaN
1                    9                   NaN
2                   11                   NaN
3                    6                   NaN
4                   11                   NaN
...                ...                   ...
2601447              5                   NaN
2601448             10                   NaN
2601449              7                   NaN
2601450             10                   NaN
2601451              9                   NaN

         place_of_death_and_decedents_status marital_status  \
0                                          1              M
1                                          1              M
2                                          4              W
3                                          4              S
4                                          6              W
...                                      ...            ...
2601447                                    1              U
2601448                                    4              U
2601449                                    4              U
2601450                                    6              U
2601451                                    6              U

         day_of_week_of_death  current_data_year injury_at_work  \
0                           1               2015              U
1                           2               2015              U
2                           6               2015              U
3                           5               2015              N
4                           5               2015              U
...                       ...                ...            ...
2601447                     1               2013              U
2601448                     5               2013              U
2601449                     4               2013              U
2601450                     6               2013              U
2601451                     5               2013              U

         manner_of_death method_of_disposition autopsy  activity_code  \
0                    7.0                     B       N            NaN
1                    7.0                     C       N            NaN
2                    7.0                     C       N            NaN
3                    3.0                     B       Y            9.0
4                    7.0                     C       N            NaN
...                  ...                   ...     ...            ...
2601447              7.0                     O       Y            NaN
2601448              7.0                     O       N            NaN
2601449              7.0                     O       N            NaN
2601450              7.0                     O       N            NaN
2601451              7.0                     O       N            NaN

         place_of_injury_for_causes_w00_y34_except_y06_and_y07_  \
0                                                      NaN
1                                                      NaN
2                                                      NaN
3                                                      9.0
4                                                      9.0
...                                                    ...
2601447                                                NaN
2601448                                                NaN
2601449                                                NaN
2601450                                                NaN
2601451                                                NaN

        icd_code_10th_revision  358_cause_recode  113_cause_recode  \
0                         I500               230                67
1                         C349                93                27
2                         G309               189                52
3                          X91               434               129
4                         I250               214                62
...                        ...               ...               ...
2601447                   K703               298                94
2601448                   C349                93                27
2601449                    B24                53                16
2601450                   I250               214                62
2601451                    F03               175               111

         130_infant_cause_recode  39_cause_recode  \
0                            NaN               22
1                            NaN                8
2                            NaN               17
3                            NaN               41
4                            NaN               21
...                          ...              ...
2601447                      NaN               30
2601448                      NaN                8
2601449                      NaN                3
2601450                      NaN               21
2601451                      NaN               37

         number_of_entity_axis_conditions entity_condition_1  \
0                                       2             11I500
1                                       8             11I469
2                                       1             11G309
3                                       6              11T71
4                                       3             11I250
...                                   ...                ...
2601447                                 3             11N288
2601448                                 1             11C349
2601449                                 2              11B24
2601450                                 5             11I119
2601451                                 3              11F03

        entity_condition_2 entity_condition_3 entity_condition_4  \
0                   61L031                NaN                NaN
1                   21R042             31C349             41J189
2                      NaN                NaN                NaN
3                    12X91              21T71             61T149
4                   21S720             61X590                NaN
...                    ...                ...                ...
2601447             12K746             21F102                NaN
2601448                NaN                NaN                NaN
2601449              21B24                NaN                NaN
2601450             12I250             61E785             62J449
2601451             61I639             62G819                NaN

        entity_condition_5 entity_condition_6 entity_condition_7  \
0                      NaN                NaN                NaN
1                    42J90             61J449             62I251
2                      NaN                NaN                NaN
3                   62S223             63S299                NaN
4                      NaN                NaN                NaN
...                    ...                ...                ...
2601447                NaN                NaN                NaN
2601448                NaN                NaN                NaN
2601449                NaN                NaN                NaN
2601450             63F209                NaN                NaN
2601451                NaN                NaN                NaN

        entity_condition_8 entity_condition_9 entity_condition_10  \
0                      NaN                NaN                 NaN
1                   63F179                NaN                 NaN
2                      NaN                NaN                 NaN
3                      NaN                NaN                 NaN
4                      NaN                NaN                 NaN
...                    ...                ...                 ...
2601447                NaN                NaN                 NaN
2601448                NaN                NaN                 NaN
2601449                NaN                NaN                 NaN
2601450                NaN                NaN                 NaN
2601451                NaN                NaN                 NaN

        entity_condition_11 entity_condition_12 entity_condition_13  \
0                       NaN                 NaN                 NaN
1                       NaN                 NaN                 NaN
2                       NaN                 NaN                 NaN
3                       NaN                 NaN                 NaN
4                       NaN                 NaN                 NaN
...                     ...                 ...                 ...
2601447                 NaN                 NaN                 NaN
2601448                 NaN                 NaN                 NaN
2601449                 NaN                 NaN                 NaN
2601450                 NaN                 NaN                 NaN
2601451                 NaN                 NaN                 NaN

        entity_condition_14 entity_condition_15  entity_condition_16  \
0                       NaN                 NaN                  NaN
1                       NaN                 NaN                  NaN
2                       NaN                 NaN                  NaN
3                       NaN                 NaN                  NaN
4                       NaN                 NaN                  NaN
...                     ...                 ...                  ...
2601447                 NaN                 NaN                  NaN
2601448                 NaN                 NaN                  NaN
2601449                 NaN                 NaN                  NaN
2601450                 NaN                 NaN                  NaN
2601451                 NaN                 NaN                  NaN

         entity_condition_17  entity_condition_18  entity_condition_19  \
0                        NaN                  NaN                  NaN
1                        NaN                  NaN                  NaN
2                        NaN                  NaN                  NaN
3                        NaN                  NaN                  NaN
4                        NaN                  NaN                  NaN
...                      ...                  ...                  ...
2601447                  NaN                  NaN                  NaN
2601448                  NaN                  NaN                  NaN
2601449                  NaN                  NaN                  NaN
2601450                  NaN                  NaN                  NaN
2601451                  NaN                  NaN                  NaN

         entity_condition_20  number_of_record_axis_conditions  \
0                        NaN                                 2
1                        NaN                                 7
2                        NaN                                 1
3                        NaN                                 5
4                        NaN                                 3
...                      ...                               ...
2601447                  NaN                                 2
2601448                  NaN                                 1
2601449                  NaN                                 1
2601450                  NaN                                 5
2601451                  NaN                                 3

        record_condition_1 record_condition_2 record_condition_3  \
0                     I500               L031                NaN
1                     C349               F179               I251
2                     G309                NaN                NaN
3                      X91               S223               S299
4                     I250               S720               X590
...                    ...                ...                ...
2601447               K703               N288                NaN
2601448               C349                NaN                NaN
2601449                B24                NaN                NaN
2601450               I250               E785               F209
2601451                F03               G819               I639

        record_condition_4 record_condition_5 record_condition_6  \
0                      NaN                NaN                NaN
1                     I469               J440                J90
2                      NaN                NaN                NaN
3                     T149                T71                NaN
4                      NaN                NaN                NaN
...                    ...                ...                ...
2601447                NaN                NaN                NaN
2601448                NaN                NaN                NaN
2601449                NaN                NaN                NaN
2601450               I119               J449                NaN
2601451                NaN                NaN                NaN

        record_condition_7 record_condition_8 record_condition_9  \
0                      NaN                NaN                NaN
1                     R042                NaN                NaN
2                      NaN                NaN                NaN
3                      NaN                NaN                NaN
4                      NaN                NaN                NaN
...                    ...                ...                ...
2601447                NaN                NaN                NaN
2601448                NaN                NaN                NaN
2601449                NaN                NaN                NaN
2601450                NaN                NaN                NaN
2601451                NaN                NaN                NaN

        record_condition_10 record_condition_11 record_condition_12  \
0                       NaN                 NaN                 NaN
1                       NaN                 NaN                 NaN
2                       NaN                 NaN                 NaN
3                       NaN                 NaN                 NaN
4                       NaN                 NaN                 NaN
...                     ...                 ...                 ...
2601447                 NaN                 NaN                 NaN
2601448                 NaN                 NaN                 NaN
2601449                 NaN                 NaN                 NaN
2601450                 NaN                 NaN                 NaN
2601451                 NaN                 NaN                 NaN

        record_condition_13 record_condition_14 record_condition_15  \
0                       NaN                 NaN                 NaN
1                       NaN                 NaN                 NaN
2                       NaN                 NaN                 NaN
3                       NaN                 NaN                 NaN
4                       NaN                 NaN                 NaN
...                     ...                 ...                 ...
2601447                 NaN                 NaN                 NaN
2601448                 NaN                 NaN                 NaN
2601449                 NaN                 NaN                 NaN
2601450                 NaN                 NaN                 NaN
2601451                 NaN                 NaN                 NaN

        record_condition_16 record_condition_17  record_condition_18  \
0                       NaN                 NaN                  NaN
1                       NaN                 NaN                  NaN
2                       NaN                 NaN                  NaN
3                       NaN                 NaN                  NaN
4                       NaN                 NaN                  NaN
...                     ...                 ...                  ...
2601447                 NaN                 NaN                  NaN
2601448                 NaN                 NaN                  NaN
2601449                 NaN                 NaN                  NaN
2601450                 NaN                 NaN                  NaN
2601451                 NaN                 NaN                  NaN

         record_condition_19  record_condition_20  race  bridged_race_flag  \
0                        NaN                  NaN     1                NaN
1                        NaN                  NaN     1                NaN
2                        NaN                  NaN     1                NaN
3                        NaN                  NaN     3                NaN
4                        NaN                  NaN     1                NaN
...                      ...                  ...   ...                ...
2601447                  NaN                  NaN     2                NaN
2601448                  NaN                  NaN     2                NaN
2601449                  NaN                  NaN     2                NaN
2601450                  NaN                  NaN     2                NaN
2601451                  NaN                  NaN     1                NaN

         race_imputation_flag  race_recode_3  race_recode_5  hispanic_origin  \
0                         NaN              1              1              100

In [116]:
display(list(df.columns.values))

['resident_status',
 'education_1989_revision',
 'education_2003_revision',
 'education_reporting_flag',
 'month_of_death',
 'sex',
 'detail_age_type',
 'detail_age',
 'age_substitution_flag',
 'age_recode_52',
 'age_recode_27',
 'age_recode_12',
 'infant_age_recode_22',
 'place_of_death_and_decedents_status',
 'marital_status',
 'day_of_week_of_death',
 'current_data_year',
 'injury_at_work',
 'manner_of_death',
 'method_of_disposition',
 'autopsy',
 'activity_code',
 'place_of_injury_for_causes_w00_y34_except_y06_and_y07_',
 'icd_code_10th_revision',
 '358_cause_recode',
 '113_cause_recode',
 '130_infant_cause_recode',
 '39_cause_recode',
 'number_of_entity_axis_conditions',
 'entity_condition_1',
 'entity_condition_2',
 'entity_condition_3',
 'entity_condition_4',
 'entity_condition_5',
 'entity_condition_6',
 'entity_condition_7',
 'entity_condition_8',
 'entity_condition_9',
 'entity_condition_10',
 'entity_condition_11',
 'entity_condition_12',
 'entity_condition_13',
 'entity_condition_14',
 'entity_condition_15',
 'entity_condition_16',
 'entity_condition_17',
 'entity_condition_18',
 'entity_condition_19',
 'entity_condition_20',
 'number_of_record_axis_conditions',
 'record_condition_1',
 'record_condition_2',
 'record_condition_3',
 'record_condition_4',
 'record_condition_5',
 'record_condition_6',
 'record_condition_7',
 'record_condition_8',
 'record_condition_9',
 'record_condition_10',
 'record_condition_11',
 'record_condition_12',
 'record_condition_13',
 'record_condition_14',
 'record_condition_15',
 'record_condition_16',
 'record_condition_17',
 'record_condition_18',
 'record_condition_19',
 'record_condition_20',
 'race',
 'bridged_race_flag',
 'race_imputation_flag',
 'race_recode_3',
 'race_recode_5',
 'hispanic_origin',
 'hispanic_originrace_recode']

In [117]:
# Drop all males 

df_female = df.loc[df["sex"] != "M"]

In [118]:
#drop columns
df_female = df_female.drop(['education_1989_revision','education_reporting_flag','detail_age_type',
                      'age_substitution_flag','age_recode_52','age_recode_27','age_recode_12',
                      'infant_age_recode_22','injury_at_work','method_of_disposition','entity_condition_4',
                      'entity_condition_5', 'entity_condition_6','entity_condition_7','entity_condition_8',
                      'entity_condition_9','entity_condition_10','entity_condition_11','entity_condition_12',
                      'entity_condition_13','entity_condition_14','entity_condition_15','entity_condition_16',
                      'entity_condition_17','entity_condition_18','entity_condition_19','entity_condition_20',
                      'record_condition_4','record_condition_5','record_condition_6','record_condition_7',
                      'record_condition_8','record_condition_9','record_condition_10','record_condition_11',
                      'record_condition_12','record_condition_13','record_condition_14','record_condition_15',
                      'record_condition_16','record_condition_17','record_condition_18','record_condition_19',
                      'record_condition_20','bridged_race_flag','race_imputation_flag', 'activity_code', 'sex',
                      'icd_code_10th_revision'], axis = 1)

In [119]:
# Filter only records with the cause recode 'Pregnancy, childbirth and the puerperium'
df_filtered = df_female[
    (df_female['358_cause_recode'] == 339) |
    (df_female['113_cause_recode'] == 105) |
    (df_female['39_cause_recode'] == 32)
]

In [120]:
df_filtered.head()

,resident_status,education_2003_revision,month_of_death,detail_age,place_of_death_and_decedents_status,marital_status,day_of_week_of_death,current_data_year,manner_of_death,autopsy,place_of_injury_for_causes_w00_y34_except_y06_and_y07_,358_cause_recode,113_cause_recode,130_infant_cause_recode,39_cause_recode,number_of_entity_axis_conditions,entity_condition_1,entity_condition_2,entity_condition_3,number_of_record_axis_conditions,record_condition_1,record_condition_2,record_condition_3,race,race_recode_3,race_recode_5,hispanic_origin,hispanic_originrace_recode
9966,1,NaN,2,37,1,M,3,2015,7.0,N,NaN,352,107,NaN,32,4,11O268,21O995,31O268,2,O268,O903,NaN,2,3,2,100,7
10603,1,NaN,1,56,1,W,3,2015,7.0,N,NaN,352,107,NaN,32,3,11O268,21O971,31O971,2,O268,O971,NaN,2,3,2,100,7
16009,1,NaN,3,31,7,M,3,2015,7.0,N,NaN,350,107,NaN,32,2,11O993,21O881,NaN,1,O881,NaN,NaN,1,1,1,100,6
20863,2,NaN,4,24,1,D,5,2015,NaN,U,NaN,345,106,NaN,32,2,11O080,21O069,NaN,1,O065,NaN,NaN,1,1,1,100,6
31488,3,NaN,7,28,1,S,7,2015,7.0,N,NaN,355,107,NaN,32,2,11O994,21O998,NaN,2,O998,O994,NaN,2,3,2,100,7

In [121]:
df_filtered.to_csv('data/interim_data/cdc_data_filtered.csv')

In [287]:
# LOAD NOTEBOOK FROM HERE unless you have changed code before this cell
df_filtered = pd.read_csv('data/interim_data/cdc_data_filtered.csv')

In [288]:
print(df_filtered.isnull().sum() / len(df_filtered))

Unnamed: 0                                                0.000000
resident_status                                           0.000000
education_2003_revision                                   0.043020
month_of_death                                            0.000000
detail_age                                                0.000000
place_of_death_and_decedents_status                       0.000000
marital_status                                            0.000000
day_of_week_of_death                                      0.000000
current_data_year                                         0.000000
manner_of_death                                           0.075505
autopsy                                                   0.000000
place_of_injury_for_causes_w00_y34_except_y06_and_y07_    0.977466
358_cause_recode                                          0.000000
113_cause_recode                                          0.000000
130_infant_cause_recode                                   1.000000
39_cause_recode                                           0.000000
number_of_entity_axis_conditions                          0.000000
entity_condition_1                                        0.000000
entity_condition_2                                        0.244659
entity_condition_3                                        0.495464
number_of_record_axis_conditions                          0.000000
record_condition_1                                        0.000000
record_condition_2                                        0.682763
record_condition_3                                        0.901961
race                                                      0.000000
race_recode_3                                             0.000000
race_recode_5                                             0.000000
hispanic_origin                                           0.000000
hispanic_originrace_recode                                0.000000
dtype: float64

In [289]:
# Nancy to fill empty values with and visualize the data to make sure code code didn't break the data).
# Missing values can be filled with 'na' => .fillna()

In [290]:
#Fill empty values with Not Anailable and visualize the data to make sure code code didn't break the data
df_cleaned = df_filtered.fillna('Not Available')

In [291]:
# create replacement dictionaries to fill in values from years 2013 to 2015
# change the type of column values. => .astype()

# natasha to do from resident_status to marital_status (skip sex field)
# mariel to do from day_of_week_of_death to icd_code_10th_revision
# razan to do from 358_cause_recode to entity_condition_2
# valentina to do from entity_condition_3 to record_condition_3
# andreza to do from record_condition_4 to hispanic_originrace_recode

In [292]:
df_cleaned.columns

Index(['Unnamed: 0', 'resident_status', 'education_2003_revision',
       'month_of_death', 'detail_age', 'place_of_death_and_decedents_status',
       'marital_status', 'day_of_week_of_death', 'current_data_year',
       'manner_of_death', 'autopsy',
       'place_of_injury_for_causes_w00_y34_except_y06_and_y07_',
       '358_cause_recode', '113_cause_recode', '130_infant_cause_recode',
       '39_cause_recode', 'number_of_entity_axis_conditions',
       'entity_condition_1', 'entity_condition_2', 'entity_condition_3',
       'number_of_record_axis_conditions', 'record_condition_1',
       'record_condition_2', 'record_condition_3', 'race', 'race_recode_3',
       'race_recode_5', 'hispanic_origin', 'hispanic_originrace_recode'],
      dtype='object')

In [293]:
# dictionary for 2015 of first six columns


resident_status_dict= {1:"RESIDENTS",
                       2:"INTRASTATE NONRESIDENTS",
                       3: "INSTRASTATE NONRESIDENTS",
                       4: "FOREIGN RESIDENTS"}


education_2003_revision_dict= {0: "1989 revision of education item on certificate",
                               1: "2003 revision of education item on certificate",
                               2: "no education item on certificate"} 

month_of_death_dict= { 10: "October",
                       11: "November",
                       12: "December",
                       1: "January", 
                       2: "February",
                       3: "March",
                       4: "April",
                       5:  "May",
                       6:  "June",
                       7:  "July",
                       8: "August",
                       9:"September"}

detail_age_dict= {1: "Years",
                  2: "Months",
                  4: "Days",
                  5: "Hours",
                  6: "Minutes",
                  9: "NaN"}

place_of_death_and_descendents_status_dict= {1:"Hospital, clinic or Medical Center",
                                             2: "Hospital, clinic or Medical Center",
                                             3: "Hospital, clinc or Medical Center",
                                             4: "Hospital, clinic or Medical Center",
                                             5: "Descendent's home",
                                             6: "Nursing home/long term care",
                                             7: "Other",
                                             9: "Place of death unknown"}

marital_status_dict= {  "S": "Never married, Single",
                        "M": "Married",
                        "W": "Widowed",
                        "D": "Divorced",
                        "U": "Marital Status unknown"}

In [294]:
df_cleaned["place_of_death_and_decedents_status"] = df_cleaned["place_of_death_and_decedents_status"].replace(place_of_death_and_descendents_status_dict).astype('category')

In [295]:
df_cleaned["detail_age"] = df_cleaned["detail_age"].replace(detail_age_dict).astype('category')

In [296]:
df_cleaned.dtypes

Unnamed: 0                                                   int64
resident_status                                              int64
education_2003_revision                                     object
month_of_death                                               int64
detail_age                                                category
place_of_death_and_decedents_status                       category
marital_status                                              object
day_of_week_of_death                                         int64
current_data_year                                            int64
manner_of_death                                             object
autopsy                                                     object
place_of_injury_for_causes_w00_y34_except_y06_and_y07_      object
358_cause_recode                                             int64
113_cause_recode                                             int64
130_infant_cause_recode                                     object
39_cause_recode                                              int64
number_of_entity_axis_conditions                             int64
entity_condition_1                                          object
entity_condition_2                                          object
entity_condition_3                                          object
number_of_record_axis_conditions                             int64
record_condition_1                                          object
record_condition_2                                          object
record_condition_3                                          object
race                                                         int64
race_recode_3                                                int64
race_recode_5                                                int64
hispanic_origin                                              int64
hispanic_originrace_recode                                   int64
dtype: object

In [297]:
df_cleaned["education_2003_revision"] = df_cleaned["education_2003_revision"].replace(education_2003_revision_dict).astype('category')

In [298]:
df_cleaned["month_of_death"] = df_cleaned["month_of_death"].replace(month_of_death_dict).astype('category')

In [299]:
df_cleaned["resident_status"] = df_cleaned["resident_status"].replace(resident_status_dict).astype('category')

In [300]:
df_cleaned["marital_status"] = df_cleaned["marital_status"].replace(marital_status_dict).astype('category')

In [301]:
#number_of_entity_axis_conditions, entity_condition_1, entity_condition_2 are not present             

_358_cause_recode_dict = {
    339 : "Pregnancy, childbirth and the puerperium",
    340 : "Pregnancy with abortive outcome",
    341 : "Ectopic pregnancy",
    342 : "Spontaneous abortion",
    343 : "Medical abortion",
    344 : "Other abortion",
    345 : "Other and unspecified pregnancy with abortive outcome",
    346 : "Other direct obstetric deaths",
    347 : "Eclampsia and pre-eclampsia",
    348 : "Hemorrhage of pregnancy and childbirth and placenta previa",
    349 : "Complications predominately related to the puerperium",
    350 : "Obstetric embolism",
    351 : "Other complications predominately related to the puerperium",
    352 : "All other direct obstetric causes",
    353 : "Obstetric death of unspecified cause",
    354 : "Other deaths related to pregnancy, childbirth and the puerperium",
    355 : "Indirect obstetric deaths",
    356 : "Certain conditions originating in the perinatal period",
    357 : "Newborn affected by maternal factors and by complications of pregnancy, labor and delivery",
    358 : "Disorders related to short gestation and low birth weight, not elsewhere classified",
    359 : "Birth trauma",
    360 : "Intrauterine hypoxia and birth asphyxia",
    361 : "Respiratory distress of newborn",
    362 : "Other respiratory conditions originating in the perinatal period",
    363 : "Infections specific to the perinatal period",
    364 : "Other and unspecified conditions originating in the perinatal period"}

_113_cause_recode_dict = {
    105 : "Pregnancy, childbirth and the puerperium",
    106 : "Pregnancy with abortive outcome",
    107 : "Other complications of pregnancy, childbirth and the puerperium", 
    108 : "Certain conditions originating in the perinatal period"}

_130_infant_cause_recode_dict = {
    100 : "Interstitial emphysema and related conditions originating in the perinatal period",
    101 : "Pulmonary hemorrhage originating in the perinatal period",
    102 : "Chronic respiratory disease originating in the perinatal period",
    104 : "All other respiratory conditions originating in the perinatal period",
    105 : "Infections specific to the perinatal period",
    108 : "All other infections specific to the perinatal period",
    71 : "Newborn affected by maternal factors and by complications of pregnancy, labor and delivery",
    72 : "Newborn affected by maternal hypertensive disorders",
    73 : "Newborn affected by other maternal conditions which may be unrelated to present pregnancy",
    74 : "Newborn affected by maternal complications of pregnancy",
    75 : "Newborn affected by incompetent cervix",
    76 : "Newborn affected by premature rupture of membranes",
    77 : "Newborn affected by multiple pregnancy",
    78 : "Newborn affected by other maternal complications of pregnancy",
    79 : "Newborn affected by complications of placenta, cord and membranes",
    80 : "Newborn affected by complications involving placenta",
    81 : "Newborn affected by complications involving cord",
    82 : "Newborn affected by chorioamnionitis",
    83 : "Newborn affected by other and unspecified abnormalities of membranes",
    84 : "Newborn affected by other complications of labor and delivery",
    85 : "Newborn affected by noxious influences transmitted via placenta or breast milk"}

_39_cause_recode_dict = {
    32 : "Pregnancy, childbirth and the puerperium",
    33 : "Certain conditions originating in the perinatal period"}

In [302]:
df_cleaned["358_cause_recode"] = df_cleaned["358_cause_recode"].replace(_358_cause_recode_dict).astype('category')

In [303]:
df_cleaned["113_cause_recode"] = df_cleaned["113_cause_recode"].replace(_113_cause_recode_dict).astype('category')

In [304]:
df_cleaned["130_infant_cause_recode"] = df_cleaned["130_infant_cause_recode"].replace(_130_infant_cause_recode_dict).astype('category')

In [305]:
df_cleaned["39_cause_recode"] = df_cleaned["39_cause_recode"].replace(_39_cause_recode_dict).astype('category')

In [306]:
df_cleaned.head(20)

,Unnamed: 0,resident_status,education_2003_revision,month_of_death,detail_age,place_of_death_and_decedents_status,marital_status,day_of_week_of_death,current_data_year,manner_of_death,autopsy,place_of_injury_for_causes_w00_y34_except_y06_and_y07_,358_cause_recode,113_cause_recode,130_infant_cause_recode,39_cause_recode,number_of_entity_axis_conditions,entity_condition_1,entity_condition_2,entity_condition_3,number_of_record_axis_conditions,record_condition_1,record_condition_2,record_condition_3,race,race_recode_3,race_recode_5,hispanic_origin,hispanic_originrace_recode
0,9966,RESIDENTS,Not Available,February,37,"Hospital, clinic or Medical Center",Married,3,2015,7,N,Not Available,All other direct obstetric causes,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",4,11O268,21O995,31O268,2,O268,O903,Not Available,2,3,2,100,7
1,10603,RESIDENTS,Not Available,January,56,"Hospital, clinic or Medical Center",Widowed,3,2015,7,N,Not Available,All other direct obstetric causes,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",3,11O268,21O971,31O971,2,O268,O971,Not Available,2,3,2,100,7
2,16009,RESIDENTS,Not Available,March,31,Other,Married,3,2015,7,N,Not Available,Obstetric embolism,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",2,11O993,21O881,Not Available,1,O881,Not Available,Not Available,1,1,1,100,6
3,20863,INTRASTATE NONRESIDENTS,Not Available,April,24,"Hospital, clinic or Medical Center",Divorced,5,2015,Not Available,U,Not Available,Other and unspecified pregnancy with abortive ...,Pregnancy with abortive outcome,Not Available,"Pregnancy, childbirth and the puerperium",2,11O080,21O069,Not Available,1,O065,Not Available,Not Available,1,1,1,100,6
4,31488,INSTRASTATE NONRESIDENTS,Not Available,July,28,"Hospital, clinic or Medical Center","Never married, Single",7,2015,7,N,Not Available,Indirect obstetric deaths,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",2,11O994,21O998,Not Available,2,O998,O994,Not Available,2,3,2,100,7
5,36467,RESIDENTS,Not Available,August,43,"Hospital, clinic or Medical Center","Never married, Single",6,2015,7,N,Not Available,All other direct obstetric causes,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",3,11O988,61O268,62O149,2,O268,O149,Not Available,2,3,2,100,7
6,45866,INTRASTATE NONRESIDENTS,Not Available,November,26,"Hospital, clinic or Medical Center",Married,4,2015,7,N,Not Available,Other complications predominately related to t...,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",5,11O993,21O268,31O993,2,O903,O268,Not Available,1,1,1,100,6
7,45919,RESIDENTS,Not Available,October,38,"Hospital, clinic or Medical Center","Never married, Single",7,2015,5,Y,Not Available,Eclampsia and pre-eclampsia,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",4,11O268,21O992,31O998,2,O16,O268,Not Available,2,3,2,100,7
8,51356,RESIDENTS,Not Available,December,27,"Hospital, clinic or Medical Center","Never married, Single",7,2015,7,N,Not Available,All other direct obstetric causes,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",5,11O268,21O364,61O268,2,O364,O268,Not Available,2,3,2,100,7
9,56396,RESIDENTS,4,February,48,"Hospital, clinic or Medical Center","Never married, Single",6,2015,7,N,Not Available,"Other deaths related to pregnancy, childbirth ...","Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",5,11O969,21O969,31O961,1,O961,Not Available,Not Available,1,1,1,100,6
10,57888,RESIDENTS,no education item on certificate,March,22,"Hospital, clinic or Medical Center","Never married, Single",3,2015,7,N,Not Available,"Other deaths related to pregnancy, childbirth ...","Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",4,11O961,21O961,31O961,1,O961,Not Available,Not Available,1,1,1,100,6
11,60367,INTRASTATE NONRESIDENTS,3,April,20,"Hospital, clinic or Medical Center","Never married, Single",6,2015,7,Y,Not Available,All other direct obstetric causes,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",4,11O988,21O985,31O268,2,O266,O268,Not Available,1,1,1,100,6
12,61769,RESIDENTS,3,May,30,"Hospital, clinic or Medical Center",Married,2,2015,7,Y,Not Available,Other complications predominately related to t...,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",2,11O882,21O879,Not Available,2,O879,O882,Not Available,1,1,1,100,6
13,62590,INTRASTATE NONRESIDENTS,no education item on certificate,February,37,"Hospital, clinic or Medical Center",Divorced,6,2015,7,N,Not Available,All other direct obstetric causes,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",5,11O268,21O994,31O994,1,O268,Not Available,Not Available,2,3,2,100,7
14,67667,RESIDENTS,3,June,34,"Hospital, clinic or Medical Center",Married,2,2015,7,Y,Not Available,Indirect obstetric deaths,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",5,11O995,21Y833,22O268,3,O998,O268,Y833,2,3,2,100,7
15,71695,RESIDENTS,3,May,19,"Hospital, clinic or Medical Center","Never married, Single",2,2015,7,Y,Not Available,"Other deaths related to pregnancy, childbirth ...","Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",1,11O961,Not Available,Not Available,1,O961,Not Available,Not Available,1,1,1,100,6
16,72789,INTRASTATE NONRESIDENTS,3,April,23,"Hospital, clinic or Medical Center","Never married, Single",6,2015,7,Y,Not Available,"Other deaths related to pregnancy, childbirth ...","Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",2,11O961,21O961,Not Available,1,O961,Not Available,Not Available,2,3,2,100,7
17,78606,INTRASTATE NONRESIDENTS,3,October,33,"Hospital, clinic or Medical Center",Married,3,2015,7,N,Not Available,All other direct obstetric causes,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",2,11O268,21O249,Not Available,2,O249,O268,Not Available,1,1,1,100,6
18,78677,RESIDENTS,5,October,27,"Hospital, clinic or Medical Center",Married,6,2015,7,Y,Not Available,Indirect obstetric deaths,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",2,11O994,21O994,Not Available,1,O994,Not Available,Not Available,1,1,1,100,6
19,78801,RESIDENTS,4,September,26,"Hospital, clinic or Medical Center","Never married, Single",1,2015,7,N,Not Available,Eclampsia and pre-eclampsia,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",2,11O159,21O16,Not Available,3,O150,O159,O16,1,1,1,100,6

In [307]:
df_cleaned.dtypes

Unnamed: 0                                                   int64
resident_status                                           category
education_2003_revision                                   category
month_of_death                                            category
detail_age                                                category
place_of_death_and_decedents_status                       category
marital_status                                            category
day_of_week_of_death                                         int64
current_data_year                                            int64
manner_of_death                                             object
autopsy                                                     object
place_of_injury_for_causes_w00_y34_except_y06_and_y07_      object
358_cause_recode                                          category
113_cause_recode                                          category
130_infant_cause_recode                                   category
39_cause_recode                                           category
number_of_entity_axis_conditions                             int64
entity_condition_1                                          object
entity_condition_2                                          object
entity_condition_3                                          object
number_of_record_axis_conditions                             int64
record_condition_1                                          object
record_condition_2                                          object
record_condition_3                                          object
race                                                         int64
race_recode_3                                                int64
race_recode_5                                                int64
hispanic_origin                                              int64
hispanic_originrace_recode                                   int64
dtype: object

In [308]:
# record_condition_4 and record_condition_5 not present

race_dict = {
    18: "Asian Indian",
    28: "Korean",
    38: "Samoan",
    48: "Vietnamese",
    58: "Guamanian",
    68: "Other Asian or Pacific Islander in areas reporting codes 18-58",
    78: "Combined other Asian or Pacific Islander, includes codes 18-68",
    1: "White",
    2: "Black",
    3: "American Indian (includes Aleuts and Eskimos)",
    4: "Chinese",
    5: "Japanese",
    6: "Hawaiian (includes Part-Hawaiian)",
    7: "Filipino",
    0: "Other races",
    8: "Other Asian or Pacific Islander"
}
    
race_recode_3_dict = {
    1: "White",
    2: "Races other than White or Black",
    3: "Black"
}
    
race_recode_5_dict = {
    0: "Other (Puerto Rico only)",
    1: "White",
    2: "Black",
    3: "American Indian",
    4: "Asian or Pacific Islander"
}
        
hispanic_originrace_recode_dict = {
    1: "Mexican",
    2: "Puerto Rican",
    3: "Cuban",
    4: "Central or South American",
    5: "Other or unknown Hispanic",
    6: "Non - Hispanic white",
    7: "Non - Hispanic black",
    8: "Non - Hispanic other races",
    9: "Hispanic origin unknown"
}

hispanic_origin_dict = {
    "220": "Central and South American",
    "100-199": "Non - Hispanic",
    "200-209": "Spaniard",
    "210-219": "Mexican",
    "260-269": "Puerto Rican",
    "270-274": "Cuban",
    "275-279": "Dominican",
    "221-230": "Central American",
    "231-249": "South American",
    "250-259": "Latin American",
    "280-299": "Other Hispanic",
    "996-999": "Unknown"
}

def get_hispanic_origin(value):
    if value == 220:
        return "Central and South American"
    elif value in range(100,200):
        return "Non â€“ Hispanic"
    elif value in range(200,210):
        return "Spaniard"
    elif value in range(210,220):
        return "Mexican"
    elif value in range(260,270):
        return "Puerto Rican"
    elif value in range(270,275):
        return "Cuban"
    elif value in range(275,280):
        return "Dominican"
    elif value in range(221,231):
        return "Central American"
    elif value in range(231,250):
        return "South American"
    elif value in range(250,260):
        return "Latin American"
    elif value in range(280,300):
        return "Other Hispanic"
    elif value in range(996,1000):
        return "Unknown"
    
day_of_week_of_death_dict = {
    1:"Sunday",
    2:"Monday",
    3:"Tuesday",
    4:"Wednesday",
    5:"Thursday",
    6:"Friday",
    7:"Saturday",
    9:"Unknown",
}

manner_of_death_dict = {
    1:"Accident",
    2:"Suicide",
    3:"Homicide",
    4:"Pending investigation",
    5:"Could not determine",
    6:"Self-Inflicted",
    7:"Natural",
    "Blank": "Not specified",
}

autopsy_dict = {
    "Y":"Yes",
    "N":"No",
    "U":"Unknown"
}

place_of_injury_for_causes_w00_y34_except_y06_and_y07_dict = {
    0:"Home",
    1:"Residential institution",
    2:"School, other institution and public administrative area",
    3:"Sports and athletics area",
    4:"Street and highway",
    5:"Trade and service area",
    6:"Industrial and construction area",
    7:"Farm",
    8:"Other Specified Places",
    9:"Unspecified place",
    "Blank":"Causes other than W00-Y34, except Y06.- and Y07.-"
}

In [309]:
df_cleaned["race"] = df_cleaned["race"].replace(race_dict).astype('category')

In [310]:
df_cleaned["race_recode_3"] = df_cleaned["race_recode_3"].replace(race_recode_3_dict).astype('category')

In [311]:
df_cleaned["race_recode_5"] = df_cleaned["race_recode_5"].replace(race_recode_5_dict).astype('category')

In [312]:
df_cleaned["hispanic_originrace_recode"] = df_cleaned["hispanic_originrace_recode"].replace(hispanic_originrace_recode_dict).astype('category')

In [313]:
df_cleaned["day_of_week_of_death"] = df_cleaned["day_of_week_of_death"].replace(day_of_week_of_death_dict).astype('category')

In [314]:
df_cleaned["manner_of_death"] = df_cleaned["manner_of_death"].replace(manner_of_death_dict).astype('category')

In [315]:
df_cleaned["autopsy"] = df_cleaned["autopsy"].replace(autopsy_dict).astype('category')

In [316]:
df_cleaned["place_of_injury_for_causes_w00_y34_except_y06_and_y07_"] = df_cleaned["place_of_injury_for_causes_w00_y34_except_y06_and_y07_"].replace(place_of_injury_for_causes_w00_y34_except_y06_and_y07_dict).astype('category')

In [317]:
df_cleaned.shape

(3417, 29)

In [318]:
df_cleaned["hispanic_origin"] = df_cleaned.apply(lambda col: get_hispanic_origin(col['hispanic_origin']), axis=1)

In [319]:
df_cleaned["hispanic_origin"] = df_cleaned["hispanic_origin"].astype('category')

In [320]:
df_cleaned.head()

,Unnamed: 0,resident_status,education_2003_revision,month_of_death,detail_age,place_of_death_and_decedents_status,marital_status,day_of_week_of_death,current_data_year,manner_of_death,autopsy,place_of_injury_for_causes_w00_y34_except_y06_and_y07_,358_cause_recode,113_cause_recode,130_infant_cause_recode,39_cause_recode,number_of_entity_axis_conditions,entity_condition_1,entity_condition_2,entity_condition_3,number_of_record_axis_conditions,record_condition_1,record_condition_2,record_condition_3,race,race_recode_3,race_recode_5,hispanic_origin,hispanic_originrace_recode
0,9966,RESIDENTS,Not Available,February,37,"Hospital, clinic or Medical Center",Married,Tuesday,2015,Natural,No,Not Available,All other direct obstetric causes,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",4,11O268,21O995,31O268,2,O268,O903,Not Available,Black,Black,Black,Non â€“ Hispanic,Non - Hispanic black
1,10603,RESIDENTS,Not Available,January,56,"Hospital, clinic or Medical Center",Widowed,Tuesday,2015,Natural,No,Not Available,All other direct obstetric causes,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",3,11O268,21O971,31O971,2,O268,O971,Not Available,Black,Black,Black,Non â€“ Hispanic,Non - Hispanic black
2,16009,RESIDENTS,Not Available,March,31,Other,Married,Tuesday,2015,Natural,No,Not Available,Obstetric embolism,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",2,11O993,21O881,Not Available,1,O881,Not Available,Not Available,White,White,White,Non â€“ Hispanic,Non - Hispanic white
3,20863,INTRASTATE NONRESIDENTS,Not Available,April,24,"Hospital, clinic or Medical Center",Divorced,Thursday,2015,Not Available,Unknown,Not Available,Other and unspecified pregnancy with abortive ...,Pregnancy with abortive outcome,Not Available,"Pregnancy, childbirth and the puerperium",2,11O080,21O069,Not Available,1,O065,Not Available,Not Available,White,White,White,Non â€“ Hispanic,Non - Hispanic white
4,31488,INSTRASTATE NONRESIDENTS,Not Available,July,28,"Hospital, clinic or Medical Center","Never married, Single",Saturday,2015,Natural,No,Not Available,Indirect obstetric deaths,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",2,11O994,21O998,Not Available,2,O998,O994,Not Available,Black,Black,Black,Non â€“ Hispanic,Non - Hispanic black

In [321]:
df_cleaned.tail()

,Unnamed: 0,resident_status,education_2003_revision,month_of_death,detail_age,place_of_death_and_decedents_status,marital_status,day_of_week_of_death,current_data_year,manner_of_death,autopsy,place_of_injury_for_causes_w00_y34_except_y06_and_y07_,358_cause_recode,113_cause_recode,130_infant_cause_recode,39_cause_recode,number_of_entity_axis_conditions,entity_condition_1,entity_condition_2,entity_condition_3,number_of_record_axis_conditions,record_condition_1,record_condition_2,record_condition_3,race,race_recode_3,race_recode_5,hispanic_origin,hispanic_originrace_recode
3412,2596700,RESIDENTS,4,November,23,"Hospital, clinic or Medical Center","Never married, Single",Friday,2013,Natural,Unknown,Not Available,"Other deaths related to pregnancy, childbirth ...","Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",2,11O961,21R99,Not Available,2,O961,R99,Not Available,Black,Black,Black,Non â€“ Hispanic,Non - Hispanic black
3413,2596925,RESIDENTS,3,November,25,"Hospital, clinic or Medical Center","Never married, Single",Saturday,2013,Natural,Yes,Not Available,Indirect obstetric deaths,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",1,11O991,Not Available,Not Available,1,O991,Not Available,Not Available,Black,Black,Black,Unknown,Hispanic origin unknown
3414,2597259,RESIDENTS,no education item on certificate,December,24,"Hospital, clinic or Medical Center","Never married, Single",Monday,2013,Natural,Yes,Not Available,All other direct obstetric causes,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",5,11T838,21Y848,31O759,4,O689,O268,T838,White,White,White,Mexican,Mexican
3415,2599213,RESIDENTS,3,December,24,"Hospital, clinic or Medical Center","Never married, Single",Tuesday,2013,Natural,No,Not Available,Other complications predominately related to t...,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",3,11O903,21I500,31B49,3,O903,B49,I500,Black,Black,Black,Non â€“ Hispanic,Non - Hispanic black
3416,2599482,RESIDENTS,6,December,26,"Hospital, clinic or Medical Center","Never married, Single",Wednesday,2013,Natural,Yes,Not Available,All other direct obstetric causes,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",5,11O754,21O754,31O759,2,O365,O754,Not Available,Black,Black,Black,Non â€“ Hispanic,Non - Hispanic black

In [322]:
df_cleaned = df_cleaned.rename(
    columns={'resident_status': 'resident_status',
             'education_2003_revision': 'level_of_education',
             'month_of_death': 'month_of_death' ,
             'detail_age': 'age',
             'place_of_death_and_decedents_status': 'place_of_death_patient_status',
             'marital_status' : 'marital_status',
             'day_of_week_of_death': 'day_of_week_of_death',
             'current_data_year': 'year_data_collected',
             'manner_of_death': 'manner_of_death',
             'autopsy': 'was_autopsy_done',
             'place_of_injury_for_causes_w00_y34_except_y06_and_y07_': 'place_of_injury_for_icd_w00_y34_except_y06_and_y07_',
             'icd_code_10th_revision':'icd_code_10th_revision',
             '358_cause_recode': '358_causes_of_death',
             '113_cause_recode': '113_causes_of_death',
             '130_infant_cause_recode': '130_causes_of_infant_death',
             '39_cause_recode': '39_cause_recode',
             'number_of_entity_axis_conditions': 'number_of_entity_axis_conditions',
             'entity_condition_1': 'entity_condition_1',
             'entity_condition_2': 'entity_condition_2',
             'entity_condition_3': 'entity_condition_3',
             'entity_condition_4': 'entity_condition_4',
             'entity_condition_5': 'entity_condition_5',
             'number_of_record_axis_conditions': 'number_of_record_axis_conditions',
             'record_condition_1': 'record_condition_1',
             'record_condition_2': 'record_condition_2',
             'record_condition_3': 'record_condition_3',
             'record_condition_4': 'record_condition_4',
             'record_condition_5': 'record_condition_5',
             'race': 'race',
             'race_recode_3': 'race_recode_3',
             'race_recode_5': 'race_recode_5',
             'hispanic_origin': 'hispanic_origin',
             'hispanic_originrace_recode': 'hispanic_originrace_recode'
 }
)

In [323]:
df_cleaned.head()

,Unnamed: 0,resident_status,level_of_education,month_of_death,age,place_of_death_patient_status,marital_status,day_of_week_of_death,year_data_collected,manner_of_death,was_autopsy_done,place_of_injury_for_icd_w00_y34_except_y06_and_y07_,358_causes_of_death,113_causes_of_death,130_causes_of_infant_death,39_cause_recode,number_of_entity_axis_conditions,entity_condition_1,entity_condition_2,entity_condition_3,number_of_record_axis_conditions,record_condition_1,record_condition_2,record_condition_3,race,race_recode_3,race_recode_5,hispanic_origin,hispanic_originrace_recode
0,9966,RESIDENTS,Not Available,February,37,"Hospital, clinic or Medical Center",Married,Tuesday,2015,Natural,No,Not Available,All other direct obstetric causes,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",4,11O268,21O995,31O268,2,O268,O903,Not Available,Black,Black,Black,Non â€“ Hispanic,Non - Hispanic black
1,10603,RESIDENTS,Not Available,January,56,"Hospital, clinic or Medical Center",Widowed,Tuesday,2015,Natural,No,Not Available,All other direct obstetric causes,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",3,11O268,21O971,31O971,2,O268,O971,Not Available,Black,Black,Black,Non â€“ Hispanic,Non - Hispanic black
2,16009,RESIDENTS,Not Available,March,31,Other,Married,Tuesday,2015,Natural,No,Not Available,Obstetric embolism,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",2,11O993,21O881,Not Available,1,O881,Not Available,Not Available,White,White,White,Non â€“ Hispanic,Non - Hispanic white
3,20863,INTRASTATE NONRESIDENTS,Not Available,April,24,"Hospital, clinic or Medical Center",Divorced,Thursday,2015,Not Available,Unknown,Not Available,Other and unspecified pregnancy with abortive ...,Pregnancy with abortive outcome,Not Available,"Pregnancy, childbirth and the puerperium",2,11O080,21O069,Not Available,1,O065,Not Available,Not Available,White,White,White,Non â€“ Hispanic,Non - Hispanic white
4,31488,INSTRASTATE NONRESIDENTS,Not Available,July,28,"Hospital, clinic or Medical Center","Never married, Single",Saturday,2015,Natural,No,Not Available,Indirect obstetric deaths,"Other complications of pregnancy, childbirth a...",Not Available,"Pregnancy, childbirth and the puerperium",2,11O994,21O998,Not Available,2,O998,O994,Not Available,Black,Black,Black,Non â€“ Hispanic,Non - Hispanic black

In [324]:
df_cleaned.dtypes

Unnamed: 0                                                int64
resident_status                                        category
level_of_education                                     category
month_of_death                                         category
age                                                    category
place_of_death_patient_status                          category
marital_status                                         category
day_of_week_of_death                                   category
year_data_collected                                       int64
manner_of_death                                        category
was_autopsy_done                                       category
place_of_injury_for_icd_w00_y34_except_y06_and_y07_    category
358_causes_of_death                                    category
113_causes_of_death                                    category
130_causes_of_infant_death                             category
39_cause_recode                                        category
number_of_entity_axis_conditions                          int64
entity_condition_1                                       object
entity_condition_2                                       object
entity_condition_3                                       object
number_of_record_axis_conditions                          int64
record_condition_1                                       object
record_condition_2                                       object
record_condition_3                                       object
race                                                   category
race_recode_3                                          category
race_recode_5                                          category
hispanic_origin                                        category
hispanic_originrace_recode                             category
dtype: object

In [325]:
display(list(df_cleaned.columns.values))

['Unnamed: 0',
 'resident_status',
 'level_of_education',
 'month_of_death',
 'age',
 'place_of_death_patient_status',
 'marital_status',
 'day_of_week_of_death',
 'year_data_collected',
 'manner_of_death',
 'was_autopsy_done',
 'place_of_injury_for_icd_w00_y34_except_y06_and_y07_',
 '358_causes_of_death',
 '113_causes_of_death',
 '130_causes_of_infant_death',
 '39_cause_recode',
 'number_of_entity_axis_conditions',
 'entity_condition_1',
 'entity_condition_2',
 'entity_condition_3',
 'number_of_record_axis_conditions',
 'record_condition_1',
 'record_condition_2',
 'record_condition_3',
 'race',
 'race_recode_3',
 'race_recode_5',
 'hispanic_origin',
 'hispanic_originrace_recode']

In [326]:
df_cleaned.to_csv('data/interim_data/cdc_data_cleaned.csv')