In [2]:
import pandas as pd
import numpy as np

In [28]:
pd.set_option("max_columns", 80)

In [29]:
def read_csv_from_dropbox(dropbox_link):
    path = dropbox_link[0:-1] + "1"
    df = pd.read_csv(path)
    return df

In [30]:
df_2015 = read_csv_from_dropbox("https://www.dropbox.com/s/3efamu1exn2pnx5/2015_data.csv?dl=0")
df_2014 = read_csv_from_dropbox("https://www.dropbox.com/s/jdt0shvcz88ryt4/2014_data.csv?dl=0")
df_2013 = read_csv_from_dropbox("https://www.dropbox.com/s/1jo0kmtgnbymopt/2013_data.csv?dl=0")
df_2012 = read_csv_from_dropbox("https://www.dropbox.com/s/w5i8in7visnygc7/2012_data.csv?dl=0")
df_2011 = read_csv_from_dropbox("https://www.dropbox.com/s/mkvwu91ykmtegi4/2011_data.csv?dl=0")

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (39,40,41,42,43,60,61,62,63,64,65,66) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (40,41,42,43,44,45,46,47,60,61,62,63,64,65,66,67,68) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [31]:
# Column for icd code 10 has a different name in 2012
df_2012 = df_2012.rename(
    columns={'icd_code_10': 'icd_code_10th_revision'}
)

In [32]:
df_2012

,resident_status,education_1989_revision,education_2003_revision,education_reporting_flag,month_of_death,sex,detail_age_type,detail_age,age_substitution_flag,age_recode_52,age_recode_27,age_recode_12,infant_age_recode_22,place_of_death_and_decedents_status,marital_status,day_of_week_of_death,current_data_year,injury_at_work,manner_of_death,method_of_disposition,autopsy,activity_code,place_of_injury_for_causes_w00_y34_except_y06_and_y07_,icd_code_10th_revision,358_cause_recode,113_cause_recode,130_infant_cause_recode,39_cause_recode,number_of_entity_axis_conditions,entity_condition_1,entity_condition_2,entity_condition_3,entity_condition_4,entity_condition_5,entity_condition_6,entity_condition_7,entity_condition_8,entity_condition_9,entity_condition_10,entity_condition_11,entity_condition_12,entity_condition_13,entity_condition_14,entity_condition_15,entity_condition_16,entity_condition_17,entity_condition_18,entity_condition_19,entity_condition_20,number_of_record_axis_conditions,record_condition_1,record_condition_2,record_condition_3,record_condition_4,record_condition_5,record_condition_6,record_condition_7,record_condition_8,record_condition_9,record_condition_10,record_condition_11,record_condition_12,record_condition_13,record_condition_14,record_condition_15,record_condition_16,record_condition_17,record_condition_18,record_condition_19,record_condition_20,race,bridged_race_flag,race_imputation_flag,race_recode_3,race_recode_5,hispanic_origin,hispanic_originrace_recode
0,1,12.0,NaN,0,1,F,1,59,NaN,37,17,8,NaN,1,W,1,2012,U,7.0,U,N,NaN,NaN,C349,93,27,NaN,8,1,11C349,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,C349,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6
1,1,12.0,NaN,0,1,F,1,90,NaN,44,24,11,NaN,6,W,2,2012,U,7.0,U,N,NaN,NaN,F03,175,111,NaN,37,3,11R53,21R54,61F03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,F03,R53,R54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6
2,1,0.0,NaN,0,1,F,1,58,NaN,37,17,8,NaN,4,M,2,2012,U,7.0,U,N,NaN,NaN,K754,301,111,NaN,37,4,11I469,21J969,31K729,41K754,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,K754,I469,J969,K729,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,2,3,100,8
3,2,12.0,NaN,0,1,M,1,85,NaN,43,23,11,NaN,4,D,3,2012,U,7.0,U,N,NaN,NaN,N19,327,100,NaN,31,1,11N19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,N19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6
4,2,16.0,NaN,0,1,M,1,54,NaN,36,16,7,NaN,1,M,1,2012,U,7.0,U,N,NaN,NaN,M259,313,111,NaN,37,4,11I269,21T817,31Y831,32M259,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,M259,I269,T817,Y831,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2547859,1,NaN,9.0,1,9,M,1,60,NaN,38,18,8,NaN,6,U,6,2012,U,7.0,B,N,NaN,NaN,B238,52,16,NaN,3,4,11I469,21J961,31B24,41B24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,B238,B24,I469,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6
2547860,1,NaN,4.0,1,12,M,1,74,NaN,40,20,9,NaN,6,S,2,2012,U,7.0,C,N,NaN,NaN,E142,159,46,NaN,16,4,11N185,21E149,61I739,62I251,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,E142,E145,I251,N185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,3,2,100,7
2547861,1,NaN,9.0,1,11,M,1,71,NaN,40,20,9,NaN,4,U,6,2012,U,7.0,B,U,NaN,NaN,C349,93,27,NaN,8,1,11C349,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,C349,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6
2547862,1,NaN,9.0,1,10,M,1,62,NaN,38,18,8,NaN,4,U,3,2012,N,1.0,B,Y,9.0,0.0,X37,418,123,NaN,39,3,11T751,12X37,61T751,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,X37,T751,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,3,2,299,5
2547863,2,NaN,6.0,1,11,F,1,53,NaN,36,16,7,NaN,9,S,2,2012,U,3.0,C,Y,9.0,9.0,X91,434,129,NaN,41,3,11T71,12X91,61T71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,X91,T71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6

In [33]:
df_2015

,resident_status,education_1989_revision,education_2003_revision,education_reporting_flag,month_of_death,sex,detail_age_type,detail_age,age_substitution_flag,age_recode_52,age_recode_27,age_recode_12,infant_age_recode_22,place_of_death_and_decedents_status,marital_status,day_of_week_of_death,current_data_year,injury_at_work,manner_of_death,method_of_disposition,autopsy,activity_code,place_of_injury_for_causes_w00_y34_except_y06_and_y07_,icd_code_10th_revision,358_cause_recode,113_cause_recode,130_infant_cause_recode,39_cause_recode,number_of_entity_axis_conditions,entity_condition_1,entity_condition_2,entity_condition_3,entity_condition_4,entity_condition_5,entity_condition_6,entity_condition_7,entity_condition_8,entity_condition_9,entity_condition_10,entity_condition_11,entity_condition_12,entity_condition_13,entity_condition_14,entity_condition_15,entity_condition_16,entity_condition_17,entity_condition_18,entity_condition_19,entity_condition_20,number_of_record_axis_conditions,record_condition_1,record_condition_2,record_condition_3,record_condition_4,record_condition_5,record_condition_6,record_condition_7,record_condition_8,record_condition_9,record_condition_10,record_condition_11,record_condition_12,record_condition_13,record_condition_14,record_condition_15,record_condition_16,record_condition_17,record_condition_18,record_condition_19,record_condition_20,race,bridged_race_flag,race_imputation_flag,race_recode_3,race_recode_5,hispanic_origin,hispanic_originrace_recode
0,1,NaN,3.0,1,1,M,1,84,NaN,42,22,10,NaN,1,M,1,2015,U,7.0,B,N,NaN,NaN,I500,230,67,NaN,22,2,11I500,61L031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,I500,L031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6
1,1,NaN,6.0,1,1,M,1,70,NaN,40,20,9,NaN,1,M,2,2015,U,7.0,C,N,NaN,NaN,C349,93,27,NaN,8,8,11I469,21R042,31C349,41J189,42J90,61J449,62I251,63F179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,C349,F179,I251,I469,J440,J90,R042,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6
2,1,NaN,3.0,1,1,F,1,91,NaN,44,24,11,NaN,4,W,6,2015,U,7.0,C,N,NaN,NaN,G309,189,52,NaN,17,1,11G309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,G309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6
3,1,NaN,3.0,1,1,F,1,40,NaN,34,14,6,NaN,4,S,5,2015,N,3.0,B,Y,9.0,9.0,X91,434,129,NaN,41,6,11T71,12X91,21T71,61T149,62S223,63S299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,X91,S223,S299,T149,T71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,2,3,100,8
4,1,NaN,5.0,1,1,F,1,89,NaN,43,23,11,NaN,6,W,5,2015,U,7.0,C,N,NaN,9.0,I250,214,62,NaN,21,3,11I250,21S720,61X590,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,I250,S720,X590,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2718193,1,NaN,1.0,1,5,M,6,5,NaN,1,1,1,1.0,7,S,7,2015,U,7.0,R,N,NaN,NaN,P072,358,108,89.0,33,1,11P072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,P072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,1.0,3,2,998,9
2718194,1,NaN,9.0,1,12,F,1,48,NaN,35,15,7,NaN,4,U,6,2015,U,7.0,B,N,NaN,NaN,I251,215,63,NaN,21,3,11R092,21I251,61F179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,I251,F179,R092,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6
2718195,4,NaN,9.0,1,12,M,1,33,NaN,32,12,5,NaN,1,U,1,2015,U,7.0,O,N,NaN,NaN,F102,178,111,NaN,37,1,11F102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,F102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,1.0,1,1,299,5
2718196,4,NaN,9.0,1,7,M,1,83,NaN,42,22,10,NaN,1,U,7,2015,U,7.0,O,N,NaN,NaN,I250,214,62,NaN,21,5,11R263,21I119,22I679,23I250,24I672,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,I250,I119,I672,R263,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,3,2,100,7
2718197,1,NaN,9.0,1,12,M,1,81,NaN,42,22,10,NaN,4,U,2,2015,U,7.0,B,N,NaN,NaN,I119,207,56,NaN,20,2,11I119,21I10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,I119,I10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,3,2,998,9

In [34]:
df = pd.concat([df_2015, df_2014, df_2013, df_2012, df_2011], axis=0, join='inner')

In [35]:
df['current_data_year'].unique()

array([2015, 2014, 2013, 2012, 2011])

In [36]:
df.head()

,resident_status,education_1989_revision,education_2003_revision,education_reporting_flag,month_of_death,sex,detail_age_type,detail_age,age_substitution_flag,age_recode_52,age_recode_27,age_recode_12,infant_age_recode_22,place_of_death_and_decedents_status,marital_status,day_of_week_of_death,current_data_year,injury_at_work,manner_of_death,method_of_disposition,autopsy,activity_code,place_of_injury_for_causes_w00_y34_except_y06_and_y07_,icd_code_10th_revision,358_cause_recode,113_cause_recode,130_infant_cause_recode,39_cause_recode,number_of_entity_axis_conditions,entity_condition_1,entity_condition_2,entity_condition_3,entity_condition_4,entity_condition_5,entity_condition_6,entity_condition_7,entity_condition_8,entity_condition_9,entity_condition_10,entity_condition_11,entity_condition_12,entity_condition_13,entity_condition_14,entity_condition_15,entity_condition_16,entity_condition_17,entity_condition_18,entity_condition_19,entity_condition_20,number_of_record_axis_conditions,record_condition_1,record_condition_2,record_condition_3,record_condition_4,record_condition_5,record_condition_6,record_condition_7,record_condition_8,record_condition_9,record_condition_10,record_condition_11,record_condition_12,record_condition_13,record_condition_14,record_condition_15,record_condition_16,record_condition_17,record_condition_18,record_condition_19,record_condition_20,race,bridged_race_flag,race_imputation_flag,race_recode_3,race_recode_5,hispanic_origin,hispanic_originrace_recode
0,1,NaN,3.0,1,1,M,1,84,NaN,42,22,10,NaN,1,M,1,2015,U,7.0,B,N,NaN,NaN,I500,230,67,NaN,22,2,11I500,61L031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,I500,L031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6
1,1,NaN,6.0,1,1,M,1,70,NaN,40,20,9,NaN,1,M,2,2015,U,7.0,C,N,NaN,NaN,C349,93,27,NaN,8,8,11I469,21R042,31C349,41J189,42J90,61J449,62I251,63F179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,C349,F179,I251,I469,J440,J90,R042,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6
2,1,NaN,3.0,1,1,F,1,91,NaN,44,24,11,NaN,4,W,6,2015,U,7.0,C,N,NaN,NaN,G309,189,52,NaN,17,1,11G309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,G309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6
3,1,NaN,3.0,1,1,F,1,40,NaN,34,14,6,NaN,4,S,5,2015,N,3.0,B,Y,9.0,9.0,X91,434,129,NaN,41,6,11T71,12X91,21T71,61T149,62S223,63S299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,X91,S223,S299,T149,T71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,2,3,100,8
4,1,NaN,5.0,1,1,F,1,89,NaN,43,23,11,NaN,6,W,5,2015,U,7.0,C,N,NaN,9.0,I250,214,62,NaN,21,3,11I250,21S720,61X590,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,I250,S720,X590,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6

In [37]:
display(list(df.columns.values))

['resident_status',
 'education_1989_revision',
 'education_2003_revision',
 'education_reporting_flag',
 'month_of_death',
 'sex',
 'detail_age_type',
 'detail_age',
 'age_substitution_flag',
 'age_recode_52',
 'age_recode_27',
 'age_recode_12',
 'infant_age_recode_22',
 'place_of_death_and_decedents_status',
 'marital_status',
 'day_of_week_of_death',
 'current_data_year',
 'injury_at_work',
 'manner_of_death',
 'method_of_disposition',
 'autopsy',
 'activity_code',
 'place_of_injury_for_causes_w00_y34_except_y06_and_y07_',
 'icd_code_10th_revision',
 '358_cause_recode',
 '113_cause_recode',
 '130_infant_cause_recode',
 '39_cause_recode',
 'number_of_entity_axis_conditions',
 'entity_condition_1',
 'entity_condition_2',
 'entity_condition_3',
 'entity_condition_4',
 'entity_condition_5',
 'entity_condition_6',
 'entity_condition_7',
 'entity_condition_8',
 'entity_condition_9',
 'entity_condition_10',
 'entity_condition_11',
 'entity_condition_12',
 'entity_condition_13',
 'entity_condition_14',
 'entity_condition_15',
 'entity_condition_16',
 'entity_condition_17',
 'entity_condition_18',
 'entity_condition_19',
 'entity_condition_20',
 'number_of_record_axis_conditions',
 'record_condition_1',
 'record_condition_2',
 'record_condition_3',
 'record_condition_4',
 'record_condition_5',
 'record_condition_6',
 'record_condition_7',
 'record_condition_8',
 'record_condition_9',
 'record_condition_10',
 'record_condition_11',
 'record_condition_12',
 'record_condition_13',
 'record_condition_14',
 'record_condition_15',
 'record_condition_16',
 'record_condition_17',
 'record_condition_18',
 'record_condition_19',
 'record_condition_20',
 'race',
 'bridged_race_flag',
 'race_imputation_flag',
 'race_recode_3',
 'race_recode_5',
 'hispanic_origin',
 'hispanic_originrace_recode']

In [38]:
# Drop all males 

df_female = df.loc[df["sex"] != "M"]

In [39]:
#drop columns
df_female = df_female.drop(['education_1989_revision','education_reporting_flag','detail_age_type',
                      'age_substitution_flag','age_recode_52','age_recode_27','age_recode_12',
                      'infant_age_recode_22','injury_at_work','method_of_disposition','entity_condition_4',
                      'entity_condition_5', 'entity_condition_6','entity_condition_7','entity_condition_8',
                      'entity_condition_9','entity_condition_10','entity_condition_11','entity_condition_12',
                      'entity_condition_13','entity_condition_14','entity_condition_15','entity_condition_16',
                      'entity_condition_17','entity_condition_18','entity_condition_19','entity_condition_20',
                      'record_condition_4','record_condition_5','record_condition_6','record_condition_7',
                      'record_condition_8','record_condition_9','record_condition_10','record_condition_11',
                      'record_condition_12','record_condition_13','record_condition_14','record_condition_15',
                      'record_condition_16','record_condition_17','record_condition_18','record_condition_19',
                      'record_condition_20','bridged_race_flag','race_imputation_flag', 'activity_code', 'sex'], axis = 1)

In [40]:
# Filter only records with the cause recode 'Pregnancy, childbirth and the puerperium'
df_filtered = df_female[
    (df_female['358_cause_recode'] == 339) |
    (df_female['113_cause_recode'] == 105) |
    (df_female['39_cause_recode'] == 32)
]

In [41]:
df_filtered.head()

,resident_status,education_2003_revision,month_of_death,detail_age,place_of_death_and_decedents_status,marital_status,day_of_week_of_death,current_data_year,manner_of_death,autopsy,place_of_injury_for_causes_w00_y34_except_y06_and_y07_,icd_code_10th_revision,358_cause_recode,113_cause_recode,130_infant_cause_recode,39_cause_recode,number_of_entity_axis_conditions,entity_condition_1,entity_condition_2,entity_condition_3,number_of_record_axis_conditions,record_condition_1,record_condition_2,record_condition_3,race,race_recode_3,race_recode_5,hispanic_origin,hispanic_originrace_recode
9966,1,NaN,2,37,1,M,3,2015,7.0,N,NaN,O268,352,107,NaN,32,4,11O268,21O995,31O268,2,O268,O903,NaN,2,3,2,100,7
10603,1,NaN,1,56,1,W,3,2015,7.0,N,NaN,O268,352,107,NaN,32,3,11O268,21O971,31O971,2,O268,O971,NaN,2,3,2,100,7
16009,1,NaN,3,31,7,M,3,2015,7.0,N,NaN,O881,350,107,NaN,32,2,11O993,21O881,NaN,1,O881,NaN,NaN,1,1,1,100,6
20863,2,NaN,4,24,1,D,5,2015,NaN,U,NaN,O065,345,106,NaN,32,2,11O080,21O069,NaN,1,O065,NaN,NaN,1,1,1,100,6
31488,3,NaN,7,28,1,S,7,2015,7.0,N,NaN,O998,355,107,NaN,32,2,11O994,21O998,NaN,2,O998,O994,NaN,2,3,2,100,7

In [42]:
df_filtered.to_csv('data/interim_data/cdc_data_filtered.csv', index=False)

In [4]:
# LOAD FIRST CELL AND THEN NOTEBOOK FROM HERE unless you have add new years, or changed code before this cell
df_filtered = pd.read_csv('data/interim_data/cdc_data_filtered.csv')

In [5]:
df_filtered.head()

,resident_status,education_2003_revision,month_of_death,detail_age,place_of_death_and_decedents_status,marital_status,day_of_week_of_death,current_data_year,manner_of_death,autopsy,...,entity_condition_3,number_of_record_axis_conditions,record_condition_1,record_condition_2,record_condition_3,race,race_recode_3,race_recode_5,hispanic_origin,hispanic_originrace_recode
0,1,NaN,2,37,1,M,3,2015,7.0,N,...,31O268,2,O268,O903,NaN,2,3,2,100,7
1,1,NaN,1,56,1,W,3,2015,7.0,N,...,31O971,2,O268,O971,NaN,2,3,2,100,7
2,1,NaN,3,31,7,M,3,2015,7.0,N,...,NaN,1,O881,NaN,NaN,1,1,1,100,6
3,2,NaN,4,24,1,D,5,2015,NaN,U,...,NaN,1,O065,NaN,NaN,1,1,1,100,6
4,3,NaN,7,28,1,S,7,2015,7.0,N,...,NaN,2,O998,O994,NaN,2,3,2,100,7

In [6]:
print(df_filtered.isnull().sum() / len(df_filtered))

resident_status                                           0.000000
education_2003_revision                                   0.068649
month_of_death                                            0.000000
detail_age                                                0.000000
place_of_death_and_decedents_status                       0.000000
marital_status                                            0.000000
day_of_week_of_death                                      0.000000
current_data_year                                         0.000000
manner_of_death                                           0.080247
autopsy                                                   0.000000
place_of_injury_for_causes_w00_y34_except_y06_and_y07_    0.975496
icd_code_10th_revision                                    0.000000
358_cause_recode                                          0.000000
113_cause_recode                                          0.000000
130_infant_cause_recode                                   1.000000
39_cause_recode                                           0.000000
number_of_entity_axis_conditions                          0.000000
entity_condition_1                                        0.000000
entity_condition_2                                        0.246727
entity_condition_3                                        0.502432
number_of_record_axis_conditions                          0.000000
record_condition_1                                        0.000000
record_condition_2                                        0.651328
record_condition_3                                        0.894688
race                                                      0.000000
race_recode_3                                             0.000000
race_recode_5                                             0.000000
hispanic_origin                                           0.000000
hispanic_originrace_recode                                0.000000
dtype: float64

In [7]:
#Fill empty values with Not Anailable and visualize the data to make sure code code didn't break the data
df_cleaned = df_filtered.fillna('Not Available')

In [8]:
df_cleaned.columns

Index(['resident_status', 'education_2003_revision', 'month_of_death',
       'detail_age', 'place_of_death_and_decedents_status', 'marital_status',
       'day_of_week_of_death', 'current_data_year', 'manner_of_death',
       'autopsy', 'place_of_injury_for_causes_w00_y34_except_y06_and_y07_',
       'icd_code_10th_revision', '358_cause_recode', '113_cause_recode',
       '130_infant_cause_recode', '39_cause_recode',
       'number_of_entity_axis_conditions', 'entity_condition_1',
       'entity_condition_2', 'entity_condition_3',
       'number_of_record_axis_conditions', 'record_condition_1',
       'record_condition_2', 'record_condition_3', 'race', 'race_recode_3',
       'race_recode_5', 'hispanic_origin', 'hispanic_originrace_recode'],
      dtype='object')

In [10]:
# dictionary for 2015 of first six columns


resident_status_dict= {1:"RESIDENTS",
                       2:"INTRASTATE NONRESIDENTS",
                       3: "INSTRASTATE NONRESIDENTS",
                       4: "FOREIGN RESIDENTS"}


education_2003_revision_dict= {0: "1989 revision of education item on certificate",
                               1: "2003 revision of education item on certificate",
                               2: "no education item on certificate"} 

month_of_death_dict= { 10: "October",
                       11: "November",
                       12: "December",
                       1: "January", 
                       2: "February",
                       3: "March",
                       4: "April",
                       5:  "May",
                       6:  "June",
                       7:  "July",
                       8: "August",
                       9:"September"}

detail_age_dict= {1: "Years",
                  2: "Months",
                  4: "Days",
                  5: "Hours",
                  6: "Minutes",
                  9: "NaN"}

place_of_death_and_descendents_status_dict= {1:"Hospital, clinic or Medical Center",
                                             2: "Hospital, clinic or Medical Center",
                                             3: "Hospital, clinc or Medical Center",
                                             4: "Hospital, clinic or Medical Center",
                                             5: "Descendent's home",
                                             6: "Nursing home/long term care",
                                             7: "Other",
                                             9: "Place of death unknown"}

marital_status_dict= {  "S": "Never married, Single",
                        "M": "Married",
                        "W": "Widowed",
                        "D": "Divorced",
                        "U": "Marital Status unknown"}

In [11]:
df_cleaned["place_of_death_and_decedents_status"] = df_cleaned["place_of_death_and_decedents_status"].replace(place_of_death_and_descendents_status_dict).astype('category')

In [12]:
df_cleaned["detail_age"] = df_cleaned["detail_age"].replace(detail_age_dict).astype('category')

In [13]:
df_cleaned.dtypes

resident_status                                              int64
education_2003_revision                                     object
month_of_death                                               int64
detail_age                                                category
place_of_death_and_decedents_status                       category
marital_status                                              object
day_of_week_of_death                                         int64
current_data_year                                            int64
manner_of_death                                             object
autopsy                                                     object
place_of_injury_for_causes_w00_y34_except_y06_and_y07_      object
icd_code_10th_revision                                      object
358_cause_recode                                             int64
113_cause_recode                                             int64
130_infant_cause_recode                                     object
39_cause_recode                                              int64
number_of_entity_axis_conditions                             int64
entity_condition_1                                          object
entity_condition_2                                          object
entity_condition_3                                          object
number_of_record_axis_conditions                             int64
record_condition_1                                          object
record_condition_2                                          object
record_condition_3                                          object
race                                                         int64
race_recode_3                                                int64
race_recode_5                                                int64
hispanic_origin                                              int64
hispanic_originrace_recode                                   int64
dtype: object

In [14]:
df_cleaned["education_2003_revision"] = df_cleaned["education_2003_revision"].replace(education_2003_revision_dict).astype('category')

In [15]:
df_cleaned["month_of_death"] = df_cleaned["month_of_death"].replace(month_of_death_dict).astype('category')

In [16]:
df_cleaned["resident_status"] = df_cleaned["resident_status"].replace(resident_status_dict).astype('category')

In [17]:
df_cleaned["marital_status"] = df_cleaned["marital_status"].replace(marital_status_dict).astype('category')

In [18]:
#number_of_entity_axis_conditions, entity_condition_1, entity_condition_2 are not present             

_358_cause_recode_dict = {
    339 : "Pregnancy, childbirth and the puerperium",
    340 : "Pregnancy with abortive outcome",
    341 : "Ectopic pregnancy",
    342 : "Spontaneous abortion",
    343 : "Medical abortion",
    344 : "Other abortion",
    345 : "Other and unspecified pregnancy with abortive outcome",
    346 : "Other direct obstetric deaths",
    347 : "Eclampsia and pre-eclampsia",
    348 : "Hemorrhage of pregnancy and childbirth and placenta previa",
    349 : "Complications predominately related to the puerperium",
    350 : "Obstetric embolism",
    351 : "Other complications predominately related to the puerperium",
    352 : "All other direct obstetric causes",
    353 : "Obstetric death of unspecified cause",
    354 : "Other deaths related to pregnancy, childbirth and the puerperium",
    355 : "Indirect obstetric deaths",
    356 : "Certain conditions originating in the perinatal period",
    357 : "Newborn affected by maternal factors and by complications of pregnancy, labor and delivery",
    358 : "Disorders related to short gestation and low birth weight, not elsewhere classified",
    359 : "Birth trauma",
    360 : "Intrauterine hypoxia and birth asphyxia",
    361 : "Respiratory distress of newborn",
    362 : "Other respiratory conditions originating in the perinatal period",
    363 : "Infections specific to the perinatal period",
    364 : "Other and unspecified conditions originating in the perinatal period"}

_113_cause_recode_dict = {
    105 : "Pregnancy, childbirth and the puerperium",
    106 : "Pregnancy with abortive outcome",
    107 : "Other complications of pregnancy, childbirth and the puerperium", 
    108 : "Certain conditions originating in the perinatal period"}

_130_infant_cause_recode_dict = {
    100 : "Interstitial emphysema and related conditions originating in the perinatal period",
    101 : "Pulmonary hemorrhage originating in the perinatal period",
    102 : "Chronic respiratory disease originating in the perinatal period",
    104 : "All other respiratory conditions originating in the perinatal period",
    105 : "Infections specific to the perinatal period",
    108 : "All other infections specific to the perinatal period",
    71 : "Newborn affected by maternal factors and by complications of pregnancy, labor and delivery",
    72 : "Newborn affected by maternal hypertensive disorders",
    73 : "Newborn affected by other maternal conditions which may be unrelated to present pregnancy",
    74 : "Newborn affected by maternal complications of pregnancy",
    75 : "Newborn affected by incompetent cervix",
    76 : "Newborn affected by premature rupture of membranes",
    77 : "Newborn affected by multiple pregnancy",
    78 : "Newborn affected by other maternal complications of pregnancy",
    79 : "Newborn affected by complications of placenta, cord and membranes",
    80 : "Newborn affected by complications involving placenta",
    81 : "Newborn affected by complications involving cord",
    82 : "Newborn affected by chorioamnionitis",
    83 : "Newborn affected by other and unspecified abnormalities of membranes",
    84 : "Newborn affected by other complications of labor and delivery",
    85 : "Newborn affected by noxious influences transmitted via placenta or breast milk"}

_39_cause_recode_dict = {
    32 : "Pregnancy, childbirth and the puerperium",
    33 : "Certain conditions originating in the perinatal period"}

In [19]:
df_cleaned["358_cause_recode"] = df_cleaned["358_cause_recode"].replace(_358_cause_recode_dict).astype('category')

In [20]:
df_cleaned["113_cause_recode"] = df_cleaned["113_cause_recode"].replace(_113_cause_recode_dict).astype('category')

In [21]:
df_cleaned["130_infant_cause_recode"] = df_cleaned["130_infant_cause_recode"].replace(_130_infant_cause_recode_dict).astype('category')

In [22]:
df_cleaned["39_cause_recode"] = df_cleaned["39_cause_recode"].replace(_39_cause_recode_dict).astype('category')

In [23]:
df_cleaned.head(20)

,resident_status,education_2003_revision,month_of_death,detail_age,place_of_death_and_decedents_status,marital_status,day_of_week_of_death,current_data_year,manner_of_death,autopsy,...,entity_condition_3,number_of_record_axis_conditions,record_condition_1,record_condition_2,record_condition_3,race,race_recode_3,race_recode_5,hispanic_origin,hispanic_originrace_recode
0,RESIDENTS,Not Available,February,37,"Hospital, clinic or Medical Center",Married,3,2015,7,N,...,31O268,2,O268,O903,Not Available,2,3,2,100,7
1,RESIDENTS,Not Available,January,56,"Hospital, clinic or Medical Center",Widowed,3,2015,7,N,...,31O971,2,O268,O971,Not Available,2,3,2,100,7
2,RESIDENTS,Not Available,March,31,Other,Married,3,2015,7,N,...,Not Available,1,O881,Not Available,Not Available,1,1,1,100,6
3,INTRASTATE NONRESIDENTS,Not Available,April,24,"Hospital, clinic or Medical Center",Divorced,5,2015,Not Available,U,...,Not Available,1,O065,Not Available,Not Available,1,1,1,100,6
4,INSTRASTATE NONRESIDENTS,Not Available,July,28,"Hospital, clinic or Medical Center","Never married, Single",7,2015,7,N,...,Not Available,2,O998,O994,Not Available,2,3,2,100,7
5,RESIDENTS,Not Available,August,43,"Hospital, clinic or Medical Center","Never married, Single",6,2015,7,N,...,62O149,2,O268,O149,Not Available,2,3,2,100,7
6,INTRASTATE NONRESIDENTS,Not Available,November,26,"Hospital, clinic or Medical Center",Married,4,2015,7,N,...,31O993,2,O903,O268,Not Available,1,1,1,100,6
7,RESIDENTS,Not Available,October,38,"Hospital, clinic or Medical Center","Never married, Single",7,2015,5,Y,...,31O998,2,O16,O268,Not Available,2,3,2,100,7
8,RESIDENTS,Not Available,December,27,"Hospital, clinic or Medical Center","Never married, Single",7,2015,7,N,...,61O268,2,O364,O268,Not Available,2,3,2,100,7
9,RESIDENTS,4,February,48,"Hospital, clinic or Medical Center","Never married, Single",6,2015,7,N,...,31O961,1,O961,Not Available,Not Available,1,1,1,100,6
10,RESIDENTS,no education item on certificate,March,22,"Hospital, clinic or Medical Center","Never married, Single",3,2015,7,N,...,31O961,1,O961,Not Available,Not Available,1,1,1,100,6
11,INTRASTATE NONRESIDENTS,3,April,20,"Hospital, clinic or Medical Center","Never married, Single",6,2015,7,Y,...,31O268,2,O266,O268,Not Available,1,1,1,100,6
12,RESIDENTS,3,May,30,"Hospital, clinic or Medical Center",Married,2,2015,7,Y,...,Not Available,2,O879,O882,Not Available,1,1,1,100,6
13,INTRASTATE NONRESIDENTS,no education item on certificate,February,37,"Hospital, clinic or Medical Center",Divorced,6,2015,7,N,...,31O994,1,O268,Not Available,Not Available,2,3,2,100,7
14,RESIDENTS,3,June,34,"Hospital, clinic or Medical Center",Married,2,2015,7,Y,...,22O268,3,O998,O268,Y833,2,3,2,100,7
15,RESIDENTS,3,May,19,"Hospital, clinic or Medical Center","Never married, Single",2,2015,7,Y,...,Not Available,1,O961,Not Available,Not Available,1,1,1,100,6
16,INTRASTATE NONRESIDENTS,3,April,23,"Hospital, clinic or Medical Center","Never married, Single",6,2015,7,Y,...,Not Available,1,O961,Not Available,Not Available,2,3,2,100,7
17,INTRASTATE NONRESIDENTS,3,October,33,"Hospital, clinic or Medical Center",Married,3,2015,7,N,...,Not Available,2,O249,O268,Not Available,1,1,1,100,6
18,RESIDENTS,5,October,27,"Hospital, clinic or Medical Center",Married,6,2015,7,Y,...,Not Available,1,O994,Not Available,Not Available,1,1,1,100,6
19,RESIDENTS,4,September,26,"Hospital, clinic or Medical Center","Never married, Single",1,2015,7,N,...,Not Available,3,O150,O159,O16,1,1,1,100,6

In [24]:
df_cleaned.dtypes

resident_status                                           category
education_2003_revision                                   category
month_of_death                                            category
detail_age                                                category
place_of_death_and_decedents_status                       category
marital_status                                            category
day_of_week_of_death                                         int64
current_data_year                                            int64
manner_of_death                                             object
autopsy                                                     object
place_of_injury_for_causes_w00_y34_except_y06_and_y07_      object
icd_code_10th_revision                                      object
358_cause_recode                                          category
113_cause_recode                                          category
130_infant_cause_recode                                   category
39_cause_recode                                           category
number_of_entity_axis_conditions                             int64
entity_condition_1                                          object
entity_condition_2                                          object
entity_condition_3                                          object
number_of_record_axis_conditions                             int64
record_condition_1                                          object
record_condition_2                                          object
record_condition_3                                          object
race                                                         int64
race_recode_3                                                int64
race_recode_5                                                int64
hispanic_origin                                              int64
hispanic_originrace_recode                                   int64
dtype: object

In [25]:
# record_condition_4 and record_condition_5 not present

race_dict = {
    18: "Asian Indian",
    28: "Korean",
    38: "Samoan",
    48: "Vietnamese",
    58: "Guamanian",
    68: "Other Asian or Pacific Islander in areas reporting codes 18-58",
    78: "Combined other Asian or Pacific Islander, includes codes 18-68",
    1: "White",
    2: "Black",
    3: "American Indian (includes Aleuts and Eskimos)",
    4: "Chinese",
    5: "Japanese",
    6: "Hawaiian (includes Part-Hawaiian)",
    7: "Filipino",
    0: "Other races",
    8: "Other Asian or Pacific Islander"
}
    
race_recode_3_dict = {
    1: "White",
    2: "Races other than White or Black",
    3: "Black"
}
    
race_recode_5_dict = {
    0: "Other (Puerto Rico only)",
    1: "White",
    2: "Black",
    3: "American Indian",
    4: "Asian or Pacific Islander"
}
        
hispanic_originrace_recode_dict = {
    1: "Mexican",
    2: "Puerto Rican",
    3: "Cuban",
    4: "Central or South American",
    5: "Other or unknown Hispanic",
    6: "Non - Hispanic white",
    7: "Non - Hispanic black",
    8: "Non - Hispanic other races",
    9: "Hispanic origin unknown"
}

hispanic_origin_dict = {
    "220": "Central and South American",
    "100-199": "Non - Hispanic",
    "200-209": "Spaniard",
    "210-219": "Mexican",
    "260-269": "Puerto Rican",
    "270-274": "Cuban",
    "275-279": "Dominican",
    "221-230": "Central American",
    "231-249": "South American",
    "250-259": "Latin American",
    "280-299": "Other Hispanic",
    "996-999": "Unknown"
}

def get_hispanic_origin(value):
    if value == 220:
        return "Central and South American"
    elif value in range(100,200):
        return "Non – Hispanic"
    elif value in range(200,210):
        return "Spaniard"
    elif value in range(210,220):
        return "Mexican"
    elif value in range(260,270):
        return "Puerto Rican"
    elif value in range(270,275):
        return "Cuban"
    elif value in range(275,280):
        return "Dominican"
    elif value in range(221,231):
        return "Central American"
    elif value in range(231,250):
        return "South American"
    elif value in range(250,260):
        return "Latin American"
    elif value in range(280,300):
        return "Other Hispanic"
    elif value in range(996,1000):
        return "Unknown"
    
day_of_week_of_death_dict = {
    1:"Sunday",
    2:"Monday",
    3:"Tuesday",
    4:"Wednesday",
    5:"Thursday",
    6:"Friday",
    7:"Saturday",
    9:"Unknown",
}

manner_of_death_dict = {
    1:"Accident",
    2:"Suicide",
    3:"Homicide",
    4:"Pending investigation",
    5:"Could not determine",
    6:"Self-Inflicted",
    7:"Natural",
    "Blank": "Not specified",
}

autopsy_dict = {
    "Y":"Yes",
    "N":"No",
    "U":"Unknown"
}

place_of_injury_for_causes_w00_y34_except_y06_and_y07_dict = {
    0:"Home",
    1:"Residential institution",
    2:"School, other institution and public administrative area",
    3:"Sports and athletics area",
    4:"Street and highway",
    5:"Trade and service area",
    6:"Industrial and construction area",
    7:"Farm",
    8:"Other Specified Places",
    9:"Unspecified place",
    "Blank":"Causes other than W00-Y34, except Y06.- and Y07.-"
}

In [26]:
df_cleaned["race"] = df_cleaned["race"].replace(race_dict).astype('category')

In [27]:
df_cleaned["race_recode_3"] = df_cleaned["race_recode_3"].replace(race_recode_3_dict).astype('category')

In [28]:
df_cleaned["race_recode_5"] = df_cleaned["race_recode_5"].replace(race_recode_5_dict).astype('category')

In [29]:
df_cleaned["hispanic_originrace_recode"] = df_cleaned["hispanic_originrace_recode"].replace(hispanic_originrace_recode_dict).astype('category')

In [30]:
df_cleaned["day_of_week_of_death"] = df_cleaned["day_of_week_of_death"].replace(day_of_week_of_death_dict).astype('category')

In [31]:
df_cleaned["manner_of_death"] = df_cleaned["manner_of_death"].replace(manner_of_death_dict).astype('category')

In [32]:
df_cleaned["autopsy"] = df_cleaned["autopsy"].replace(autopsy_dict).astype('category')

In [33]:
df_cleaned["place_of_injury_for_causes_w00_y34_except_y06_and_y07_"] = df_cleaned["place_of_injury_for_causes_w00_y34_except_y06_and_y07_"].replace(place_of_injury_for_causes_w00_y34_except_y06_and_y07_dict).astype('category')

In [34]:
df_cleaned.shape

(5346, 29)

In [35]:
df_cleaned["hispanic_origin"] = df_cleaned.apply(lambda col: get_hispanic_origin(col['hispanic_origin']), axis=1)

In [36]:
df_cleaned["hispanic_origin"] = df_cleaned["hispanic_origin"].astype('category')

In [37]:
df_cleaned.head()

,resident_status,education_2003_revision,month_of_death,detail_age,place_of_death_and_decedents_status,marital_status,day_of_week_of_death,current_data_year,manner_of_death,autopsy,...,entity_condition_3,number_of_record_axis_conditions,record_condition_1,record_condition_2,record_condition_3,race,race_recode_3,race_recode_5,hispanic_origin,hispanic_originrace_recode
0,RESIDENTS,Not Available,February,37,"Hospital, clinic or Medical Center",Married,Tuesday,2015,Natural,No,...,31O268,2,O268,O903,Not Available,Black,Black,Black,Non – Hispanic,Non - Hispanic black
1,RESIDENTS,Not Available,January,56,"Hospital, clinic or Medical Center",Widowed,Tuesday,2015,Natural,No,...,31O971,2,O268,O971,Not Available,Black,Black,Black,Non – Hispanic,Non - Hispanic black
2,RESIDENTS,Not Available,March,31,Other,Married,Tuesday,2015,Natural,No,...,Not Available,1,O881,Not Available,Not Available,White,White,White,Non – Hispanic,Non - Hispanic white
3,INTRASTATE NONRESIDENTS,Not Available,April,24,"Hospital, clinic or Medical Center",Divorced,Thursday,2015,Not Available,Unknown,...,Not Available,1,O065,Not Available,Not Available,White,White,White,Non – Hispanic,Non - Hispanic white
4,INSTRASTATE NONRESIDENTS,Not Available,July,28,"Hospital, clinic or Medical Center","Never married, Single",Saturday,2015,Natural,No,...,Not Available,2,O998,O994,Not Available,Black,Black,Black,Non – Hispanic,Non - Hispanic black

In [38]:
df_cleaned.tail()

,resident_status,education_2003_revision,month_of_death,detail_age,place_of_death_and_decedents_status,marital_status,day_of_week_of_death,current_data_year,manner_of_death,autopsy,...,entity_condition_3,number_of_record_axis_conditions,record_condition_1,record_condition_2,record_condition_3,race,race_recode_3,race_recode_5,hispanic_origin,hispanic_originrace_recode
5341,INTRASTATE NONRESIDENTS,6,October,30,Nursing home/long term care,Divorced,Wednesday,2011,Natural,No,...,Not Available,2,O268,C719,Not Available,Chinese,Races other than White or Black,Asian or Pacific Islander,Non – Hispanic,Non - Hispanic other races
5342,RESIDENTS,4,October,37,"Hospital, clinic or Medical Center",Marital Status unknown,Monday,2011,Natural,Yes,...,Not Available,1,O994,Not Available,Not Available,Black,Black,Black,Non – Hispanic,Non - Hispanic black
5343,RESIDENTS,2003 revision of education item on certificate,October,26,"Hospital, clinic or Medical Center","Never married, Single",Thursday,2011,Natural,No,...,Not Available,1,O268,Not Available,Not Available,White,White,White,Dominican,Other or unknown Hispanic
5344,RESIDENTS,4,November,44,"Hospital, clinic or Medical Center",Married,Friday,2011,Natural,Yes,...,22O300,3,O300,O149,O469,White,White,White,Non – Hispanic,Non - Hispanic white
5345,RESIDENTS,3,December,32,"Hospital, clinic or Medical Center","Never married, Single",Tuesday,2011,Natural,No,...,31O991,1,O268,Not Available,Not Available,White,White,White,Dominican,Other or unknown Hispanic

In [39]:
df_cleaned = df_cleaned.rename(
    columns={'resident_status': 'resident_status',
             'education_2003_revision': 'level_of_education',
             'month_of_death': 'month_of_death' ,
             'detail_age': 'age',
             'place_of_death_and_decedents_status': 'place_of_death_patient_status',
             'marital_status' : 'marital_status',
             'day_of_week_of_death': 'day_of_week_of_death',
             'current_data_year': 'year_data_collected',
             'manner_of_death': 'manner_of_death',
             'autopsy': 'was_autopsy_done',
             'place_of_injury_for_causes_w00_y34_except_y06_and_y07_': 'place_of_injury_for_icd_w00_y34_except_y06_and_y07_',
             'icd_code_10th_revision':'icd_code_10th_revision',
             '358_cause_recode': '358_causes_of_death',
             '113_cause_recode': '113_causes_of_death',
             '130_infant_cause_recode': '130_causes_of_infant_death',
             '39_cause_recode': '39_cause_recode',
             'number_of_entity_axis_conditions': 'number_of_entity_axis_conditions',
             'entity_condition_1': 'entity_condition_1',
             'entity_condition_2': 'entity_condition_2',
             'entity_condition_3': 'entity_condition_3',
             'entity_condition_4': 'entity_condition_4',
             'entity_condition_5': 'entity_condition_5',
             'number_of_record_axis_conditions': 'number_of_record_axis_conditions',
             'record_condition_1': 'record_condition_1',
             'record_condition_2': 'record_condition_2',
             'record_condition_3': 'record_condition_3',
             'record_condition_4': 'record_condition_4',
             'record_condition_5': 'record_condition_5',
             'race': 'race',
             'race_recode_3': 'race_recode_3',
             'race_recode_5': 'race_recode_5',
             'hispanic_origin': 'hispanic_origin',
             'hispanic_originrace_recode': 'hispanic_originrace_recode'
 }
)

In [40]:
df_cleaned.head()

,resident_status,level_of_education,month_of_death,age,place_of_death_patient_status,marital_status,day_of_week_of_death,year_data_collected,manner_of_death,was_autopsy_done,...,entity_condition_3,number_of_record_axis_conditions,record_condition_1,record_condition_2,record_condition_3,race,race_recode_3,race_recode_5,hispanic_origin,hispanic_originrace_recode
0,RESIDENTS,Not Available,February,37,"Hospital, clinic or Medical Center",Married,Tuesday,2015,Natural,No,...,31O268,2,O268,O903,Not Available,Black,Black,Black,Non – Hispanic,Non - Hispanic black
1,RESIDENTS,Not Available,January,56,"Hospital, clinic or Medical Center",Widowed,Tuesday,2015,Natural,No,...,31O971,2,O268,O971,Not Available,Black,Black,Black,Non – Hispanic,Non - Hispanic black
2,RESIDENTS,Not Available,March,31,Other,Married,Tuesday,2015,Natural,No,...,Not Available,1,O881,Not Available,Not Available,White,White,White,Non – Hispanic,Non - Hispanic white
3,INTRASTATE NONRESIDENTS,Not Available,April,24,"Hospital, clinic or Medical Center",Divorced,Thursday,2015,Not Available,Unknown,...,Not Available,1,O065,Not Available,Not Available,White,White,White,Non – Hispanic,Non - Hispanic white
4,INSTRASTATE NONRESIDENTS,Not Available,July,28,"Hospital, clinic or Medical Center","Never married, Single",Saturday,2015,Natural,No,...,Not Available,2,O998,O994,Not Available,Black,Black,Black,Non – Hispanic,Non - Hispanic black

In [41]:
df_cleaned.dtypes

resident_status                                        category
level_of_education                                     category
month_of_death                                         category
age                                                    category
place_of_death_patient_status                          category
marital_status                                         category
day_of_week_of_death                                   category
year_data_collected                                       int64
manner_of_death                                        category
was_autopsy_done                                       category
place_of_injury_for_icd_w00_y34_except_y06_and_y07_    category
icd_code_10th_revision                                   object
358_causes_of_death                                    category
113_causes_of_death                                    category
130_causes_of_infant_death                             category
39_cause_recode                                        category
number_of_entity_axis_conditions                          int64
entity_condition_1                                       object
entity_condition_2                                       object
entity_condition_3                                       object
number_of_record_axis_conditions                          int64
record_condition_1                                       object
record_condition_2                                       object
record_condition_3                                       object
race                                                   category
race_recode_3                                          category
race_recode_5                                          category
hispanic_origin                                        category
hispanic_originrace_recode                             category
dtype: object

In [42]:
display(list(df_cleaned.columns.values))

['resident_status',
 'level_of_education',
 'month_of_death',
 'age',
 'place_of_death_patient_status',
 'marital_status',
 'day_of_week_of_death',
 'year_data_collected',
 'manner_of_death',
 'was_autopsy_done',
 'place_of_injury_for_icd_w00_y34_except_y06_and_y07_',
 'icd_code_10th_revision',
 '358_causes_of_death',
 '113_causes_of_death',
 '130_causes_of_infant_death',
 '39_cause_recode',
 'number_of_entity_axis_conditions',
 'entity_condition_1',
 'entity_condition_2',
 'entity_condition_3',
 'number_of_record_axis_conditions',
 'record_condition_1',
 'record_condition_2',
 'record_condition_3',
 'race',
 'race_recode_3',
 'race_recode_5',
 'hispanic_origin',
 'hispanic_originrace_recode']

In [43]:
df_cleaned.to_csv('data/interim_data/cdc_data_cleaned.csv', index=False)