In [3]:
#load all necessary libraries
import pandas as pd 
import numpy as np 
import scipy as scp
import sklearn

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn import metrics 
from sklearn.metrics import confusion_matrix

import statsmodels.api as sm
import matplotlib.pyplot as plt

In [5]:
# Read cleaned dataset
df = pd.read_csv('data/interim_data/cdc_data_cleaned_with_ethnicities.csv')
df.head()

,resident_status,level_of_education,month_of_death,age,place_of_death_patient_status,marital_status,day_of_week_of_death,year,manner_of_death,was_autopsy_done,...,number_of_record_axis_conditions,record_condition_1,record_condition_2,record_condition_3,race,race_recode_3,race_recode_5,hispanic_origin,hispanic_originrace_recode,ethnicity
0,RESIDENTS,3.0,January,49,"Hospital, clinic or Medical Center",Divorced,Tuesday,2015,Natural,No,...,2,O266,O268,Not Available,White,White,White,Mexican,Mexican,Hispanic
1,RESIDENTS,3.0,January,40,"Hospital, clinic or Medical Center",Married,Sunday,2015,Natural,No,...,2,O266,O268,Not Available,White,White,White,Mexican,Mexican,Hispanic
2,RESIDENTS,9.0,April,35,"Hospital, clinic or Medical Center",Married,Friday,2015,Natural,Yes,...,1,O720,Not Available,Not Available,White,White,White,Mexican,Mexican,Hispanic
3,RESIDENTS,6.0,April,41,"Hospital, clinic or Medical Center",Married,Wednesday,2015,Natural,No,...,1,O721,Not Available,Not Available,White,White,White,Mexican,Mexican,Hispanic
4,INTRASTATE NONRESIDENTS,3.0,June,28,"Hospital, clinic or Medical Center",Married,Sunday,2015,Natural,No,...,1,O038,Not Available,Not Available,White,White,White,Mexican,Mexican,Hispanic

In [7]:
marital_status=df['marital_status'].value_counts()
ethnicity=df['ethnicity'].value_counts()

In [8]:
print(marital_status)
print(ethnicity)

Married                   3251
Never married, Single     2980
Divorced                   725
Widowed                     97
Marital Status unknown      82
Name: marital_status, dtype: int64
White       3298
Black       2297
Hispanic    1142
Other        398
Name: ethnicity, dtype: int64

In [11]:
#Recode marital_status to integer: LinearRegression does not take string
def classification(marital_status):
    if marital_status == 'Married':
        return 1
    elif marital_status == 'Never married, Single':
        return 2
    elif marital_status == 'Divorced':
        return 3
    elif marital_status == 'Widowed':
        return 4
    elif marital_status == 'Marital Status unknown':
        return 5
    
df['marital_status_class']=df['marital_status'].apply(classification)

In [15]:
#Create training and test datasets
#marital_status was recoded into marital_status_class to change from string to integer
#marital_status needs to be dropped
X = df.drop(['marital_status', 'ethnicity'], axis=1) 
y = df['marital_status']

print(list(X.columns.values)) 

X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(X, y, test_size = 0.20, random_state = 5)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

['resident_status', 'level_of_education', 'month_of_death', 'age', 'place_of_death_patient_status', 'day_of_week_of_death', 'year', 'manner_of_death', 'was_autopsy_done', 'place_of_injury_for_icd_w00_y34_except_y06_and_y07_', 'icd_code_10th_revision', '358_causes_of_death', '113_causes_of_death', '130_causes_of_infant_death', '39_cause_recode', 'number_of_entity_axis_conditions', 'entity_condition_1', 'entity_condition_2', 'entity_condition_3', 'number_of_record_axis_conditions', 'record_condition_1', 'record_condition_2', 'record_condition_3', 'race', 'race_recode_3', 'race_recode_5', 'hispanic_origin', 'hispanic_originrace_recode', 'marital_status_class']
(5708, 29)
(1427, 29)
(5708,)
(1427,)